.custom-theme {
  --ngx-timeline-icon: #005cbb;
  --ngx-timeline-period-inner-container: #005cbb;
  --ngx-timeline-line-background: darkgray;

   width:100%
}

.status-active{
    background-color: #d4edda; /* Soft green for "ACTIVE" */
    color: #155724; /* Dark green for text */
}

.status-inactive{
    background-color: #f8d7da; /* Soft red for "INACTIVE" */
    color: #721c24; /* Dark red for text */
}