<div class="container-fluid bg-white vh-75 w-100 rounded-top-4  shadow-sm">
  <p class="rounded-3 p-1  mat-elevation-z0">
    <span class="mx-2 text-secondary">
          <a routerLink="/admin">
             <button mat-button>
               <mat-icon class=" primary-blue-color">business_center</mat-icon>
                CRM
             </button>
          </a> >
          <a routerLink="/admin/interactions">
            <button mat-button>
               <mat-icon class=" primary-blue-color">receipt_long</mat-icon>
              Factures
             </button>
          </a>
      </span>
  </p>


  <mat-card class="mt-1 container bg-light shadow-sm p-3 rounded-2">
    <mat-card-title class="d-flex justify-content-between" >
      <p class="d-flex ">
        <mat-icon class="example-tab-icon mx-2 primary-blue-color">business</mat-icon>
        <span class="fs-5">Factures</span>
      </p>
      <p>
        <button mat-button >

          <mat-icon>date</mat-icon>
        </button>
      </p>
    </mat-card-title>



  </mat-card>


</div>
<!--</div>-->

