<div class="container-fluid bg-body row d-flex justify-content-center w-100">
  <!-- Page Header -->
  <!-- Actions -->
  <div class="d-flex justify-content-between row" >
    <div class="col-8">
      <button (click)="router.navigate(['/admin/crm/wms/wms/delivery-note'])" color="primary"  mat-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-button (click)="router.navigate(['/admin/crm/wms'])"  >
        <mat-icon class=" primary-blue-color">house</mat-icon>
        Accueil
      </button>
      >
      <button mat-button (click)="router.navigate(['/admin/crm/wms/delivery-note'])">
        <mat-icon class=" primary-blue-color">checklist</mat-icon>
        Bon de livraison
      </button>
      >
      <button mat-button (click)="router.navigate(['/admin/crm/wms/needs'])">
        <mat-icon class=" primary-blue-color">details</mat-icon>
        Détailes
      </button>
    </div>
    <div class="col-2 d-flex justify-content-end">
      <button [matMenuTriggerFor]="menu"  class="bg-spider scale-08 primary-blue-color fw-bold rounded-2" aria-label="Actions" mat-raised-button>
        Actions <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="bg-spider scale-09">
        <button (click)="onGenerateAnnexDoc()" class="bg-spider scale-08 primary-blue-color fw-bold rounded-2" aria-label="Actions" mat-raised-button>
          Télecharger <mat-icon>download</mat-icon>
        </button>
      </mat-menu>
    </div>
  </div>
  <hr>
</div>
<section class="container-fluid px-2">
  <div class="row p-2">
    <ng-container  class="col-12 row " >
      <mat-card class="mt-2 rounded-2 bg-white mat-elevation-z2 border border-secondary-subtle border-1 col-6">
        <mat-card-content>
          <p class="fs-6 align-items-center d-flex primary-blue-color">
            <mat-icon class="scale-08">business</mat-icon>
            Informations General
          </p>
          <p><span class="text-secondary">Référence:</span> {{ annexe.getValue().number }}</p>
          <!--              <p><span class="text-secondary">Interlocuteur:</span> {{ deliveryNote.getValue().interlocutor.fullName }}</p>-->
          <p><span class="text-secondary">Date:</span> {{ annexe.getValue().createdAt | date:'dd/MM/YYYY HH:mm' }}</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="mt-2 rounded-2 bg-white mat-elevation-z2 border border-secondary-subtle border-1 col-6">
        <mat-card-content>
          <p class="fs-6 align-items-center d-flex primary-blue-color">
            <mat-icon class="scale-08">business</mat-icon>
            Informations du Client
          </p>
          <p><span class="text-secondary">Client:</span> {{ annexe.getValue().storageContract.customer?.name }}</p>
          <!--              <p><span class="text-secondary">Interlocuteur:</span> {{ deliveryNote.getValue().interlocutor.fullName }}</p>-->
          <p><span class="text-secondary">Contrat:</span> {{ annexe.getValue().storageContract?.number }}</p>
          <!--              <p><span class="text-secondary">Date:</span> {{ deliveryNote.getValue().createdAt | date:'dd/MM/YYYY HH:mm' }}</p>-->
        </mat-card-content>
      </mat-card>

    </ng-container>
    <ng-container  class="col-12" >
      <mat-card class="mt-2 rounded-2 bg-white mat-elevation-z2 border border-secondary-subtle border-1">
        <mat-card-content>
          <div class="card-body">
            <table  class="table small border-secondary">
              <thead class=" fw-light">
              <tr>
                <th scope="col" class="bg-light primary-blue-color fw-light">Préstations</th>
                <th scope="col" class="bg-light primary-blue-color fw-light">Unité</th>
              </tr>
              </thead>
              <tbody>
              <p class="primary-blue-color fw-bold text-decoration-underline m-2">Préstations:</p>
              <ng-container  class="p-0"  *ngFor="let item of annexe.getValue().stockedItems">
                <tr *ngFor="let prv of item.provisionResponseDto" >
                  <td>{{  prv.name +" "+ item.supportName+" "+ item.structureName }}</td>
                  <td>{{ prv.unitOfMeasurement }}</td>
                </tr>
              </ng-container>
              <p class="primary-blue-color fw-bold text-decoration-underline m-2">Dépotages</p>
              <tr  class="p-0"  *ngFor="let item of annexe.getValue().unloadingTypes">
                <td>{{  item.name }}</td>
                <td>{{ item.unitOfMeasurement }}</td> <!-- Uncommented & Fixed -->
                <!--                <td>{{  prv.salesPrice }}</td>-->
                <td>
              </tr>
              <p class="primary-blue-color fw-bold text-decoration-underline m-2">Services </p>
              <tr  class="p-0"  *ngFor="let item of annexe.getValue().requirements">
                <td>{{  item.name }}</td>
                <td>{{ item.unitOfMeasurement }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</section>
<app-general-infos
  [createdAt]="annexe.getValue().createdAt" [createdBy]="annexe.getValue().createdBy"
  [updatedAt]="annexe.getValue().updatedAt" [updatedBy]="annexe.getValue().updatedBy"
></app-general-infos>
