<div class="shadow-sm bg-light d-flex justify-content-between pt-2" mat-dialog-title>
  <div class="text-start col-10 fs-6">
      <button  color="primary" mat-icon-button>
        <mat-icon >domain</mat-icon>
      </button>
     <span *ngIf="!prospect?.id"> {{ 'CREATE' | translate }} </span> <span *ngIf="prospect?.id">
    {{ 'UPDATE' | translate }}</span>  {{'COMPANY' | translate}}
  </div>
  <!-- Reset Button -->

  <div class="col-2 text-end">
    <button (click)="stepper.reset()" class="mx-2" color="primary" mat-icon-button>
      <mat-icon>refresh</mat-icon>
    </button>
    <!-- Close Button -->
    <button class="" color="warn" mat-dialog-close mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>

</div>
<mat-dialog-content class="">
  <mat-stepper #stepper
               [linear]="false">
    <!-- Step 1: Company Details -->
    <mat-step [stepControl]="companyDetailsFormGroup" [errorMessage]="'REQUIRED_FIELDS_ERROR' | translate">
      <form [formGroup]="companyDetailsFormGroup" class="row">
        <ng-template matStepLabel>{{ 'COMPANY_DETAILS' | translate }}</ng-template>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'PROSPECT_NAME' | translate }}</mat-label>
            <input formControlName="companyName" matInput placeholder="prospect Exemple" >
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'STRUCTURE' | translate }}</mat-label>
            <mat-select
              formControlName="proprietaryStructure"
              >
              <mat-option
                *ngFor="let ps of (proprietaryStructures | async)"
                [value]="ps.id">
                {{ ps.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'INDUSTRY' | translate }}</mat-label>
            <mat-select
              formControlName="industry" placeholder="Fabrication"
              >
              <mat-option *ngFor="let industry of industries | async"
                          [value]="industry.id">{{ industry?.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'COUNTRY' | translate }}</mat-label>
            <mat-select
              formControlName="country" placeholder="Casablanca"
            >
              <mat-option *ngFor="let country of countries | async"
                          [value]="country.id">{{ country?.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'CITY' | translate }}</mat-label>
            <mat-select
              formControlName="city" placeholder="Casablanca"
            >
              <mat-option *ngFor="let city of cities | async"
                          [value]="city.id">{{ city?.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'COMPANY_SIZE' | translate }}</mat-label>
            <mat-select
              formControlName="companySize" placeholder="PME"
              >
              <mat-option *ngFor="let size of companySizes | async"
                          [value]="size.id">{{ size.name }}
              </mat-option>
            </mat-select>
            <!--            <input matInput placeholder="2020" formControlName="yearOfCreation"  type="number">-->
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'HEAD_OFFICE' | translate }}</mat-label>
            <input formControlName="headOffice" matInput placeholder="123 Rue Exemple, Ville Exemple">
          </mat-form-field>
        </div>


        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'YEAR_OF_CREATION' | translate }}</mat-label>
            <input formControlName="yearOfCreation" matInput placeholder="2020" type="number">
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'CAPITAL' | translate }}</mat-label>
            <input formControlName="capital" matInput placeholder="1000000" type="number">
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'ACRONYM' | translate }}</mat-label>
            <input formControlName="sigle" matInput placeholder="EXC">
          </mat-form-field>
        </div>
        <div class="text-center mt-3  col-6">
        </div>
      </form>
    </mat-step>
    <!-- Step 2:  légal-->
    <mat-step [stepControl]="legalInfoFormGroup" [errorMessage]="'REQUIRED_FIELDS_ERROR' | translate">
      <form [formGroup]="legalInfoFormGroup" class="row">
        <ng-template matStepLabel>{{ 'LEGAL_INFORMATION' | translate }}</ng-template>
        <div class="col-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'LEGAL_REPRESENTATIVE_TITLE' | translate }}</mat-label>
            <mat-select
              formControlName="legalRepresentativeTitle" placeholder="Jean Dupont"
              >
              <mat-option *ngFor="let title of titles | async"
                          [value]="title.id">{{ title.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'LEGAL_REPRESENTATIVE_JOB_TITLE' | translate }}</mat-label>
            <mat-select
              formControlName="legalRepresentativeJobTitle" placeholder="CEO"
              >
              <mat-option *ngFor="let title of jobTitles | async"
                          [value]="title.id">{{ title.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'LEGAL_REPRESENTATIVE' | translate }}</mat-label>
            <input formControlName="legalRepresentative" matInput placeholder="Jean Dupont" >
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'LEGAL_STATUS' | translate }}</mat-label>
            <mat-select
              formControlName="legalStatus" placeholder="Sarl"
              >
              <mat-option *ngFor="let ls of legalStatuses | async"
                          [value]="ls.id">{{ ls.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'COURT' | translate }}</mat-label>
            <mat-select
              formControlName="court" placeholder="Casablanca"
              >
              <mat-option *ngFor="let court of courts | async"
                          [value]="court.id">{{ court.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'ICE' | translate }}</mat-label>
            <input formControlName="ice" matInput placeholder="123456789" >
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'RC' | translate }}</mat-label>
            <input formControlName="rc" matInput placeholder="987654321" >
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'IFM' | translate }}</mat-label>
            <input formControlName="ifm" matInput placeholder="123456" >
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'PATENT' | translate }}</mat-label>
            <input formControlName="patent" matInput placeholder="PAT123456">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'CNSS' | translate }}</mat-label>
            <input formControlName="cnss" matInput placeholder="CNSS123456">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'CERTIFICATION' | translate }}</mat-label>
            <input formControlName="certificationText" matInput placeholder="ISO 9001">
          </mat-form-field>
        </div>
        <div>
        </div>
      </form>
    </mat-step>


    <!-- Step 4: Contact Information -->
    <mat-step [stepControl]="contactInfoFormGroup" [errorMessage]="'REQUIRED_FIELDS_ERROR' | translate">
      <form [formGroup]="contactInfoFormGroup" class="row">
        <ng-template matStepLabel>{{ 'CONTACT_INFORMATION' | translate }}</ng-template>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'EMAIL' | translate }}</mat-label>
          <input formControlName="email" matInput placeholder="contact@exemple.com"  type="email">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'PHONE' | translate }}</mat-label>
          <input formControlName="phone" matInput placeholder="+12345672890" >
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'FAX' | translate }}</mat-label>
          <input formControlName="fax" matInput placeholder="+1234567891">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'WHATSAPP' | translate }}</mat-label>
          <input formControlName="whatsapp" matInput placeholder="+12345678922">
        </mat-form-field>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'WEBSITE' | translate }}</mat-label>
            <input formControlName="website" id="website" matInput placeholder="https://exemple.com">
            <mat-error>
              <small *ngIf="website?.invalid && contactInfoFormGroup.get('website')?.touched">{{ 'INVALID_URL_FORMAT' | translate }}</small>
              <small *ngIf="website?.invalid && (contactInfoFormGroup.get('website')?.touched || false)">{{ 'INVALID_URL_FORMAT' | translate }}</small>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'LINKEDIN' | translate }}</mat-label>
            <input formControlName="linkedin" matInput placeholder="https://linkedin.com/company-name">
            <mat-error>
              <small *ngIf="linkedin?.invalid">{{ 'INVALID_URL_FORMAT' | translate }}</small>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
        </div>
      </form>
    </mat-step>


    <!-- Step 5: Business Description -->
    <mat-step>
      <ng-template matStepLabel>{{ 'DESCRIPTION' | translate }}</ng-template>
      <form [formGroup]="businessDescriptionFormGroup">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'DESCRIPTION' | translate }}</mat-label>
          <textarea formControlName="businessDescription" matInput
                    rows="15"
                    placeholder="{{ 'BUSINESS_DESCRIPTION_PLACEHOLDER' | translate }}"
                    ></textarea>
        </mat-form-field>
      </form>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end" class="shadow mat-">
  <button [color]="'warn'" class="btn py-1" mat-button mat-dialog-close>{{ 'CANCEL' | translate }}</button>
  <button (click)="stepper.previous()" class="text-secondary" mat-button>{{ 'PREVIOUS' | translate }}</button>
  <button (click)="stepper.next()"
          class="" color="'primary'"
          mat-button>
    {{ 'NEXT' | translate }}
  </button>
  <button (click)="createProspect()" [disabled]="!isEnabledToCreateCompany()"
          class="btn mat-primary" mat-raised-button>
    <span *ngIf="!prospect?.id"> {{ 'CREATE' | translate }} </span>
    <span *ngIf="prospect?.id">{{ 'UPDATE' | translate }}</span>
    {{'COMPANY' | translate}}
  </button>

</mat-dialog-actions>

