<div class="container text-center mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8  text-center d-flex flex-column justify-content-center">
      <!-- Material Icon -->
<!--      <mat-icon style="font-size: 100px; color: #ff5722;">error_outline</mat-icon>-->

      <img src="/not_found.webp" class="img-fluid">
      <!-- Error Message -->
<!--      <h1 class="display-4 mt-3">404 - Page Not Found</h1>-->
      <p class="lead">Oops! The page you are looking for does not exist.</p>

      <!-- Button to Navigate to Admin -->
      <button mat-raised-button color="primary" (click)="navigateToAdmin()">
        <mat-icon class="primary-blue-color">dashboard</mat-icon>
        Go to Home
      </button>
    </div>
  </div>
</div>
