.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width:100%;
}

.full-width {
  width: 100%;
}
.form-control{
  box-shadow: none;
  border-color: transparent;
  border-bottom: solid 2px #005cbb;
  background-color: #e0e2ec !important;
}
