<div class="row d-flex my-2 justify-content-between w-100">
  <div class="col-lg-8 col-12 d-flex justify-content-start mt-sm-2">
    <input
      matInput
      class=" rounded-2 mat-elevation-z1  bg-light search-input"
      (keyup)="applyFilter($event)"
      placeholder="Recherch"
      autofocus
      #input
    />

  </div>


  <!-- Action Buttons -->
  <div class="col-lg-3 mx-2 my-auto col-12 d-flex justify-content-lg-end  justify-content-center align-items-center">
    <button (click)="createEditWmsNeed()"
            mat-button color="primary" class="rounded-3 bg-light  mat-elevation-z2 "  style="transform:scale(0.9)">
      <mat-icon>add</mat-icon>
      <span>Ajouter</span>
    </button>
    <button mat-icon-button class="rounded-3 bg-light my-auto mat-elevation-z1  "   style="transform:scale(0.9)" aria-label="Filter">
      <mat-icon><i class="bi bi-funnel"></i></mat-icon>
    </button>
    <button mat-icon-button class="rounded-3 bg-light my-auto mat-elevation-z1  "   style="transform:scale(0.9)" aria-label="Filter">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>
<div class="bg-light rounded-3 mat-elevation-z2  w-100">
  <div class="table-container  border-top-5 border-secondary w-100">
    <table mat-table [dataSource]="dataSource" matSort class="text-secondary">
      <!-- Columns: Select -->
      <ng-container matColumnDef="select" >
        <th mat-header-cell *matHeaderCellDef>
          <input type="checkbox" (change)="toggleSelectAll()" [checked]="isAllSelected"  />
        </th>
        <td mat-cell *matCellDef="let row">
          <input type="checkbox" (change)="toggleRowSelection(row.id)" [checked]="isRowSelected(row.id)"  />
        </td>
      </ng-container>
      <!-- Columns: Fields -->
      <ng-container matColumnDef="ref">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Référence</th>
        <td mat-cell *matCellDef="let row">{{ row.ref.slice(0,10) }}</td>
      </ng-container>
      <ng-container matColumnDef="customer" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
        <td mat-cell *matCellDef="let row" class="full-width-table-celle">{{ row.customer?.name }}</td>
      </ng-container>
      <ng-container matColumnDef="productType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="full-width-table-celle">Type de produit</th>
        <td mat-cell *matCellDef="let row"  class="full-width-table-celle">{{ row.productType }}</td>
      </ng-container>

      <ng-container matColumnDef="stockedItem">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="full-width-table-celle">Element a stocker</th>
        <td mat-cell *matCellDef="let row" class="full-width-table-celle">
          <small>
            <ng-container *ngFor="let item of row.stockedItems; let i = index" class="d-flex justify-content-start">
              <small><button class="btn btn btn-sm scale-09 p-1 px-1  rounded-4 bg-info-subtle">{{ item.supportName + " "+item.structureName+" "+ item.temperatureName }} </button></small>
<!--             <button class="btn btn-sm"> {{ item.supportName + ""+item.structureName+" "+ item.temperatureName }} </button><br>-->
            </ng-container>
          </small>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
        <td mat-cell *matCellDef="let row">
          <small><button class="scale-08 btn btn btn-sm p-1 px-2 rounded-4 bg-info-subtle">{{getNeedStatus(row.status) }}</button></small>
        </td>
      </ng-container>
      <ng-container matColumnDef="date" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Date</th>
        <td mat-cell *matCellDef="let row"  class="full-width-table-celle">{{ row.expirationDate | date:"dd-MM-yyyy hh:mm"  }}</td>
      </ng-container>

      <ng-container matColumnDef="storageReason">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="full-width-table-celle">Raison de stockage</th>
        <td mat-cell *matCellDef="let row">{{ row.storageReason  }}</td>
      </ng-container>
      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>edit</mat-icon>Edit
            </button>
            <button mat-menu-item >
              <mat-icon>delete</mat-icon>Delete
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"
          class="primary-blue-color  fixed-header bg-light rounded-3  custom-header-row p-0 "></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"   class="bg-white text-secondary "></tr>
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Aucune donnée ne correspond au filtre "{{input.value}}"</td>
      </tr>
    </table>
  </div>
  <mat-paginator class="bg-light sticky-bottom" [pageSizeOptions]="[ 25, 50,100]"></mat-paginator>
</div>
