<div class="container-fluid bg-white  vh-100 w-100 rounded-4 mat-elevation-z2 overflow-y-scroll">
  <p class="rounded-3 p-1 bg-white  position-fixed">
    <span class="mx-2 text-secondary">
          <a routerLink="/admin">
             <button mat-button>
               <mat-icon class=" primary-blue-color">home</mat-icon>
                Accueil
             </button>
          </a> >
          <a routerLink="/admin/prospects">
            <button mat-button>
               <mat-icon class=" primary-blue-color">domain</mat-icon>
              Clients
             </button>
          </a> >
          <button mat-button>
               <mat-icon class=" primary-blue-color">info</mat-icon>
              Détails
          </button>
      </span>
  </p><br><br><br>

  <div class="container-fluid tab-container p-3 mat-elevation-z2  rounded-3  ">
    <section class="mt-1">
      <mat-card-title class="d-flex justify-content-between align-items-center">
        <p class="d-flex align-baseline">
          <mat-icon class="example-tab-icon mx-2 primary-blue-color">business</mat-icon>
          <span class="fs-5">Détails de l'entreprise</span>
        </p>
        <p>
          <button (click)="editProspect(customer.getValue())" mat-button>
            Modifier
            <mat-icon>edit</mat-icon>
          </button>
        </p>
      </mat-card-title>
      <mat-card-content>
        <div class="justify-content-around">
          <div class="d-flex justify-content-around row">
            <!-- Company Information Section -->
            <div class="col-lg-12 row d-flex justify-content-start">
              <div class="col-lg-4 col-12 border-start border-secondary-subtle px-3">
                <!-- Company Name -->
                <p>
                  <span class="text-secondary">
                    <i class="primary-blue-color bi bi-building"></i>Raison sociale :
                  </span>
                  <span class="mx-2 my-3">{{ customer.getValue().name }}</span>
                </p>

                <p class="d-flex align-items-center">
                  <span class="text-secondary">
                    <i class="primary-blue-color bi bi-exclamation-circle"></i> Statut :
                  </span>
                  <button  *ngIf="!isEditStatus" (click)="showChangeStatusForm()"
                    [ngClass]="[getChipClass(customer.getValue().customerStatus.name),'btn btn-sm rounded-2  px-3  mx-2']">
                    {{customer.getValue().customerStatus.name}}
                  </button>
                  <span class="m-0 p-0"  *ngIf="isEditStatus">
                    <form [formGroup]="statusForm">
                        <select id="statusSelect" class="form-select mx-2 form-select-sm" formControlName="statusId">
                          <ng-container *ngFor="let status of customersStatus.getValue() ">
                            <option [value]="status.id">
                            {{ status.name }}
                          </option>
                          </ng-container>
                        </select>
                      </form>
                  </span>
                </p>
                <!-- Sigle -->
                <p>
                  <span class="text-secondary">
                    <i class="primary-blue-color bi bi-briefcase-fill"></i> Sigle :
                  </span>
                  <span class="mx-2 my-3">{{ customer.getValue().sigle }}</span>
                </p>

                <!-- Capital -->
                <p>
                    <span class="text-secondary">
                      <i class="primary-blue-color bi bi-currency-exchange"></i> Capital :
                    </span>
                  <span class="mx-2 my-3">{{ customer.getValue().capital }} MAD</span>
                </p>

                <!-- Head Office -->
                <p>
                  <span class="text-secondary">
                    <i class="primary-blue-color bi bi-geo-alt-fill"></i> Siège social :
                  </span>
                  <span class="mx-2 my-3">{{ customer.getValue().headOffice }}</span>
                </p>

                <!-- Ownership Structure -->
                <p>
                  <span class="text-secondary">
                    <i class="primary-blue-color bi bi-diagram-2-fill"></i> Structure propriété :
                  </span>
                  <span class="mx-2 my-3">{{ customer.getValue().proprietaryStructure?.name }}</span>
                </p>

                <!-- Industry -->
                <p>
                  <span class="text-secondary">
                    <i class="primary-blue-color bi bi-hammer"></i> Industrie :
                  </span>
                  <span class="mx-2 my-3">{{ customer.getValue().industry?.name }}</span>
                </p>

                <!-- City -->
                <p>
            <span class="text-secondary">
              <i class="primary-blue-color bi bi-geo-fill"></i> Ville :
            </span>
                  <span class="mx-2 my-3">{{ customer.getValue().city?.name }}</span>
                </p>

                <!-- Country -->
                <p>
            <span class="text-secondary">
              <i class="primary-blue-color bi bi-flag-fill"></i> Pays :
            </span>
                  <span class="mx-2 my-3">{{ customer.getValue().country?.name }}</span>
                </p>

              </div>

              <div class="col-lg-4 col-12 border-start border-secondary-subtle px-3">
                <!-- Year of Creation -->
                <p>
                  <span class="text-secondary">
                    <i class="primary-blue-color bi bi-calendar-check-fill"></i> Année de création :
                  </span>
                  <span class="mx-2 my-3">{{ customer.getValue().yearOfCreation }}</span>
                </p>

                <!-- Company Size -->
                <p>
                  <span class="text-secondary">
                    <i class="primary-blue-color bi bi-people-fill"></i> Taille de l'entreprise :
                  </span>
                  <span class="mx-2 my-3">{{ customer.getValue().companySize?.name }}</span>
                </p>


                <!-- Created At By - Updated At By -->
                <p>
                  <i class="bi bi-calendar-event-fill primary-blue-color"></i>
                  <span class="text-secondary"> Créé le : </span>
                  <span class="mx-2 my-3">{{ customer.getValue().createdAt | date:'dd/MM/yyyy hh:mm' }}</span>
                </p>
                <p>
                  <i class="bi bi-person-lines-fill primary-blue-color"></i>
                  <span class="text-secondary"> Créé par : </span>
                  <span class="mx-2 my-3">{{ customer.getValue().createdBy.name }}</span>
                </p>
                <p>
                  <i class="bi bi-calendar-event-fill primary-blue-color"></i>
                  <span class="text-secondary"> Mis à jour le : </span>
                  <span class="mx-2 my-3">{{ customer.getValue().updatedAt | date:'dd/MM/yyyy hh:mm' }}</span>
                </p>
                <p>
                  <i class="bi bi-person-lines-fill primary-blue-color"></i>
                  <span class="text-secondary"> Mis à jour par : </span>
                  <span class="mx-2 my-3">{{ customer.getValue().updatedBy.name }}</span>
                </p>

              </div>

              <!-- Business Description -->
              <div class="col-lg-4 col-12 border-start border-secondary-subtle px-3">
                <p>
                  <span class="text-secondary">
                    <i class="primary-blue-color bi bi-card-text"></i> Description de l'activité : <br/>
                  </span>
                  <span class="mx-2 my-3">{{ customer.getValue().businessDescription }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>


    </section>


    <mat-divider class="my-2"></mat-divider>

    <section class="d-flex row">
      <mat-tab-group class="rounded-0 mat-elevation-z1 col-lg-8" mat-align-tabs="start"
                     mat-stretch-tabs="true">
        <!-- Informations de contact Tab -->
        <mat-tab label="Informations de contact">
          <ng-template mat-tab-label>
            <i class="bi bi-person-lines-fill mx-2 primary-blue-color"></i>
            Informations de contact
          </ng-template>
          <div class="d-flex mt-3 p-4">
            <div class="col-lg-6">
              <p>
                <span class="text-secondary"><i class="bi bi-envelope-fill primary-blue-color"></i> Email :</span>
                <span class="mx-2"><a href="mailto:{{ customer.getValue().email }}">{{ customer.getValue().email }}</a></span>
              </p>
              <p>
                <span class="text-secondary"><i class="bi bi-telephone-fill primary-blue-color"></i> Téléphone :</span>
                <span class="mx-2"><a href="tel:{{ customer.getValue().phone }}">{{ customer.getValue().phone }}</a></span>
              </p>
              <p>
                <span class="text-secondary"><i class="bi bi-printer-fill primary-blue-color"></i> Fax :</span>
                <span class="mx-2">{{ customer.getValue().fax }}</span>
              </p>
            </div>
            <div class="col-lg-6">
              <p>
                <span class="text-secondary"><i class="bi bi-chat-dots-fill primary-blue-color"></i> WhatsApp :</span>
                <span class="mx-2">
                <a href="https://wa.me/{{ customer.getValue().whatsapp }}" target="_blank" class="text-success"> {{customer.getValue().whatsapp}} </a>
              </span>
              </p>
              <p>
                <span class="text-secondary"><i class="bi bi-globe primary-blue-color"></i> Site Web :</span>
                <span class="mx-2"><a target="_blank" href="{{ customer.getValue().website }}">{{ customer.getValue().website }}</a></span>
              </p>
              <p>
                <span class="text-secondary"><i class="bi bi-linkedin primary-blue-color"></i> LinkedIn :</span>
                <span class="mx-2">{{ customer.getValue().linkedin }}</span>
              </p>
            </div>
          </div>
        </mat-tab>

        <!-- Informations légales Tab -->
        <mat-tab label="Informations légales">
          <ng-template mat-tab-label>
            <i class="bi bi-bank primary-blue-color mx-2"></i>
            Informations légales
          </ng-template>
          <div class="d-flex mt-3 p-4">
            <div class="col-lg-6">
              <p><span class="text-secondary"><i class="bi bi-file-earmark-code-fill primary-blue-color"></i> Statut juridique :</span>
                <span class="mx-2">{{ customer.getValue().legalStatus?.name }}</span>
              </p>
              <p><span class="text-secondary"><i class="bi bi-person-check-fill primary-blue-color"></i> Représentant légal :</span>
                <span class="mx-2"> {{ customer.getValue().title?.title }} {{ customer.getValue().legalRepresentative }}</span>
              </p>
              <p><span class="text-secondary"><i class="bi bi-briefcase-fill primary-blue-color"></i> Function du représentant légal :</span>
                <span class="mx-2">{{ customer.getValue().reprosentaveJobTitle?.name }}</span>
              </p>
            </div>
            <div class="col-lg-6">
              <p><span class="text-secondary"><i class="bi bi-card-checklist primary-blue-color"></i> Certificat :</span>
                <span class="mx-2">{{ customer.getValue().certificationText }}</span>
              </p>
              <p><span class="text-secondary"><i class="bi bi-file-earmark-code-fill primary-blue-color"></i> ICE :</span>
                <span class="mx-2">{{ customer.getValue().ice }}</span>
              </p>
              <p><span class="text-secondary"><i class="bi bi-briefcase-fill primary-blue-color"></i> RC :</span>
                <span class="mx-2">{{ customer.getValue().rc }}</span>
              </p>
              <p><span class="text-secondary"><i class="bi bi-cash-stack primary-blue-color"></i> IFM :</span>
                <span class="mx-2">{{ customer.getValue().ifm }}</span>
              </p>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="col-lg-4">
        <p class="d-flex align-baseline my-2">
          <mat-icon class="example-tab-icon mx-2 primary-blue-color">check_list</mat-icon>
          <span class="fs-4 primary-blue-color">Les intérêts</span>
        </p>
          <p *ngFor="let interest of interests.getValue()">
                <span class="text-secondary">

                  <section class="example-section fs-6">
                  <mat-slide-toggle
                    (change)="updateInterest(interest.id)"
                    [checked]="isChecked(interest.name)"
                    [color]="'primary'"
                    class="custom-toggle scale-08">
                  </mat-slide-toggle>

                    {{ interest.name }}
                </section>
              </span>
          </p>
      </div>
    </section>

    <mat-divider class="my-2"></mat-divider>
    <div class="container-fluid mt-3">
      <div class=" text-dark row  d-flex justify-content-around ">
        <div class="col-lg-6 p-4 align-baseline bg-light rounded-2 shadow-sm ">
          <p class="d-flex align-baseline ">
            <mat-icon class="m-0 p-0 mx-2 primary-blue-color">group</mat-icon>
            <span class="fs-5">Interlocuteurs</span>
          </p>

          <ng-container *ngFor="let interlocutor of interlocutors | async">
            <mat-expansion-panel class=" mb-2 bg-white rounded-2 ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon class="p mx-2 text-secondary">account_circle</mat-icon>
                  {{ interlocutor.fullName }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="px-3">
                <p>
                  <i class="bi bi-envelope-fill me-2 primary-blue-color"></i>
                  <span>Email :</span> <span class="text-dark">{{ interlocutor.emailAddress.address }}</span>
                </p>
                <p>
                  <i class="bi bi-telephone-fill me-2 primary-blue-color"></i>
                  <span>Téléphone :</span> <span class="text-dark">{{ interlocutor.phoneNumber.number }}</span>
                </p>
                <p>
                  <i class="bi bi-building me-2 primary-blue-color"></i>
                  <span>Département :</span> <span class="text-dark">{{ interlocutor.department.name }}</span>
                </p>
                <p>
                  <i class="bi bi-briefcase-fill me-2 primary-blue-color"></i>
                  <span>Titre de poste :</span> <span class="text-dark">{{ interlocutor.jobTitle.name }}</span>
                </p>
              </div>
            </mat-expansion-panel>
          </ng-container>
        </div>

        <div class="col-lg-6 row  d-flex flex-column justify-content-end shadow-sm bg-white rounded-3 p-4">
          <!-- Custom Event Template -->
<!--          <ng-template #innerEventCustomTemplate class="" let-event="event">-->
<!--            <div class="event d-flex justify-content-end">-->
<!--              <mat-expansion-panel class="bg-light mt-3 col-12 shadow-sm rounded-3 w-100">-->
<!--                <mat-expansion-panel-header>-->
<!--                  <mat-panel-title>-->
<!--                    <mat-icon class="me-2 text-secondary">group</mat-icon>-->
<!--                    <span class="small">{{ event.eventInfo.title }}</span>-->
<!--                  </mat-panel-title>-->
<!--                </mat-expansion-panel-header>-->
<!--                <div class="p-1">-->
<!--                  &lt;!&ndash;              <p class="mb-0 primary-blue-color text-secondary d-flex align-items-center">&ndash;&gt;-->
<!--                  &lt;!&ndash;                <mat-icon class="me-2 text-secondary">person</mat-icon>&ndash;&gt;-->
<!--                  &lt;!&ndash;                {{ event.eventInfo.user.name }}&ndash;&gt;-->
<!--                  &lt;!&ndash;              </p>&ndash;&gt;-->
<!--                  <p class="text-muted mb-2">{{ event.eventInfo.description }}</p>-->
<!--                </div>-->
<!--              </mat-expansion-panel>-->
<!--            </div>-->
<!--          </ng-template>-->

          <!-- Timeline Component -->
<!--          <ngx-timeline-->
<!--            [enableAnimation]="true"-->
<!--            [events]="events"-->
<!--            [innerEventCustomTemplate]="innerEventCustomTemplate"-->
<!--            [langCode]="'fr'"-->
<!--            [ngClass]="'custom-theme right-aligned justify-content-end'"-->
<!--            [reverseOrder]="true"-->
<!--            class="mt-4 "-->
<!--          >-->
<!--          </ngx-timeline>-->

          <div class="d-flex mt-3 p-4">
<!--            <div class="col-lg-6">-->
<!--              <p>-->
<!--              <span class="text-secondary">-->
<!--                <section class="example-section fs-6">-->
<!--                  <mat-slide-toggle [checked]="true" [color]="'primary'" [disabled]="false" class="custom-toggle"-->
<!--                                    style="transform:scale(0.8) !important;">-->
<!--                  </mat-slide-toggle>-->
<!--                    Status-->
<!--                </section>-->
<!--              </span>-->
<!--              </p>-->
<!--            </div>-->

<!--            <div class="col-lg-12">-->
<!--              <div>-->
<!--                <p *ngFor="let interest of interests.getValue()">-->
<!--                <span class="text-secondary">-->
<!--                  <section class="example-section fs-6">-->
<!--                  <mat-slide-toggle-->
<!--                                        (change)="updateInterest( interest.id)"-->
<!--                                        [checked]="isChecked(interest.name)"-->
<!--                                        [color]="'primary'"-->
<!--                                        class="custom-toggle scale-08">-->
<!--                                      </mat-slide-toggle>-->
<!--                  <input type="checkbox"-->
<!--                         (change)="updateInterest(interest.id)"-->
<!--                         [checked]="isChecked(interest.name)">-->
<!--                    {{ interest.name }}-->
<!--                </section>-->
<!--              </span>-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->

          </div>
        </div>

      </div>
    </div>


  </div>
</div>
<app-comment [entityId]="customer.getValue().id" [entity]="EntityEnum.PROSPECT"></app-comment>
