.custom-theme {
  --ngx-timeline-icon: #005cbb;
  --ngx-timeline-period-inner-container: #005cbb;
  --ngx-timeline-line-background: darkgray;
}
.form-select-sm{
  box-shadow: none;
  border: 1px #005cbb solid !important;

}

.form-control{
  box-shadow:none !important;
}
.icon-sm{
  font-size: 1.1rem !important;
}

p{
  font-size: 0.9rem !important;
}



.status-new {
  background-color: #d4edda; /* Soft green for "NEW" */
  color: #155724; /* Dark green for text */
}

.status-qualified {
  background-color: #c3e6cb; /* Light green for "QUALIFIED" */
  color: #155724; /* Dark green for text */
}

.status-interested {
  background-color: #ffeeba; /* Soft yellow for "INTERESTED" */
  color: #856404; /* Dark amber for text */
}

.status-opportunity {
  background-color: #cde0ff; /* Light blue for "OPPORTUNITY" */
  color: #004085; /* Dark blue for text */
}

.status-converted {
  background-color: #d4edda; /* Soft green for "CONVERTED" */
  color: #155724; /* Dark green for text */
}

.status-disqualified {
  background-color: #f8d7da; /* Soft red for "DISQUALIFIED" */
  color: #721c24; /* Dark red for text */
}

.status-lost {
  background-color: #e2e3e5; /* Light grey for "LOST" */
  color: #383d41; /* Dark grey for text */
}

.status-nrp {
  background-color: #d6d8db; /* Soft blue-grey for "NRP" */
  color: #1b1e21; /* Charcoal for text */
}

.status-default {
  background-color: #f8f9fa; /* Off-white for default */
  color: #212529; /* Standard black for text */
}

.custom-size{
  transform: scale(0.8)!important;
}


.custom-theme.right-aligned ngx-timeline {
  display: flex;
  justify-content: flex-end;
}

.custom-theme.right-aligned ngx-timeline .event {
  text-align: right;
}

.custom-theme.right-aligned ngx-timeline .event::before {
  left: auto;
  right: 0; /* Align the marker to the right */
}

.custom-theme.right-aligned ngx-timeline .event-content {
  margin-right: 0;
  margin-left: auto; /* Shift content to the right */
}
