.custom-theme {
  --ngx-timeline-icon: #005cbb;
  --ngx-timeline-period-inner-container: #005cbb;
  --ngx-timeline-line-background: darkgray;
}
.form-select-sm{
  box-shadow: none;
  border: 1px #005cbb solid !important;

}

.form-control{
  box-shadow:none !important;
}
.icon-sm{
  font-size: 1.1rem !important;
}

p{
  font-size: 0.9rem !important;
}

.status-new {
  background-color: #b3e0ff; /* Light blue for "NEW" */
  color: #0056b3; /* Deep blue for contrast */
}

.status-qualified {
  background-color: #a8e6cf; /* Soft green for "QUALIFIED" */
  color: #007b33; /* Darker green */
}

.status-interested {
  background-color: #ffdd94; /* Warm yellow for "INTERESTED" */
  color: #9c6100; /* Dark amber */
}

.status-opportunity {
  background-color: #87cefa; /* Sky blue for "OPPORTUNITY" */
  color: #004085; /* Deep blue */
}

.status-converted {
  background-color: #98fb98; /* Soft green for "CONVERTED" */
  color: #006400; /* Dark green */
}

.status-disqualified {
  background-color: #ff9999; /* Soft red for "DISQUALIFIED" */
  color: #8b0000; /* Deep red */
}

.status-lost {
  background-color: #dcdcdc; /* Light grey for "LOST" */
  color: #696969; /* Dark grey */
}

.status-nrp {
  background-color: #c0c0c0; /* Neutral grey for "NRP" */
  color: #505050; /* Darker grey */
}

.status-default {
  background-color: #f0f0f0; /* Light neutral for default */
  color: #333333; /* Standard dark text */
}


.custom-size{
  transform: scale(0.8)!important;
}


.custom-theme.right-aligned ngx-timeline {
  display: flex;
  justify-content: flex-end;
}

.custom-theme.right-aligned ngx-timeline .event {
  text-align: right;
}

.custom-theme.right-aligned ngx-timeline .event::before {
  left: auto;
  right: 0; /* Align the marker to the right */
}

.custom-theme.right-aligned ngx-timeline .event-content {
  margin-right: 0;
  margin-left: auto; /* Shift content to the right */
}

.logo-container {
  cursor: pointer;
}

.logo-hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.upload-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.text-logo {
  font-size: 12px;
}

