<div class="shadow-sm bg-light d-flex justify-content-between pt-2" mat-dialog-title>
    <div class="text-start col-10 fs-6">
        <button  color="primary" mat-icon-button>
            <mat-icon >domain</mat-icon>
        </button>
        <span *ngIf="!company?.id"> Créer </span> <span *ngIf="company?.id"> Mettre à jour </span>  l'entreprise
    </div>
    <!-- Reset Button -->

    <div class="col-2 text-end">
        <button (click)="stepper.reset()" class="mx-2" color="primary" mat-icon-button>
            <mat-icon>refresh</mat-icon>
        </button>
        <!-- Close Button -->
        <button class="" color="warn" mat-dialog-close mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>

</div>
<mat-dialog-content class="">
    <mat-stepper #stepper
                 [linear]="false">
        <!-- Step 1: Company Details -->
        <mat-step [stepControl]="companyDetailsFormGroup" errorMessage="Les champs obligatoires doivent être remplis.">
            <form [formGroup]="companyDetailsFormGroup" class="row">
                <ng-template matStepLabel>Détails de entreprise</ng-template>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Nom de Entreprise</mat-label>
                        <input formControlName="companyName" matInput placeholder="entreprise Exemple" required>
                    </mat-form-field>
                </div>
                <div class="col-6 text-center px-5" *ngIf="!company?.id">
                    <div (dragleave)="onDragLeave($event)"
                         (dragover)="onDragOver($event)"
                         (drop)="onLogoDrop($event)"
                         class="drop-zone bg-white rounded-2 text-center">
                        <!-- Add logo if logo not exist  -->
                        <div *ngIf="!company?.logo">
                            <p class="display-6 m-0 p-0"><i class="bi bi-image primary-blue-color"></i></p>
                            <input #logoInput (change)="onLogoUpload($event)" hidden type="file"/>
                            <button (click)="logoInput.click()" class="mx-2 shadow-sm small-btn" mat-button>Sélectionnez le logo</button>
                            <br>
                        </div>
                        <!-- if logo exist  -->
                        <div *ngIf="company?.logo">
                            <img [src]="environment.baseUrl + '/api/images/' + company.logo" id="logo1" alt="logo" class="img-fluid"
                                 height="100px" width="100px">
                            <button [color]="'warn'" mat-icon-button style="transform:scale(0.6);position:relative;bottom:10px;">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Structure</mat-label>
                        <mat-select
                                formControlName="proprietaryStructure"
                                required>
                            <mat-option
                                    *ngFor="let ps of (proprietaryStructures | async)"
                                    [value]="ps.id">
                                {{ ps.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Industrie</mat-label>
                        <mat-select
                                formControlName="industry" placeholder="Fabrication"
                                required>
                            <mat-option *ngFor="let industry of industries | async"
                                        [value]="industry.id">{{ industry?.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Pays</mat-label>
                        <mat-select
                                formControlName="country" placeholder="Casablanca"
                        >
                            <mat-option *ngFor="let country of countries | async"
                                        [value]="country.id">{{ country?.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>ville</mat-label>
                        <mat-select
                                formControlName="city" placeholder="Casablanca"
                        >
                            <mat-option *ngFor="let city of cities | async"
                                        [value]="city.id">{{ city?.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Taille d'entreprise</mat-label>
                        <mat-select
                                formControlName="companySize" placeholder="PME"
                                required>
                            <mat-option *ngFor="let size of companySizes | async"
                                        [value]="size.id">{{ size.name }}
                            </mat-option>
                        </mat-select>
                        <!--            <input matInput placeholder="2020" formControlName="yearOfCreation" required type="number">-->
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Siège social</mat-label>
                        <input formControlName="headOffice" matInput placeholder="123 Rue Exemple, Ville Exemple">
                    </mat-form-field>
                </div>


                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Année de création</mat-label>
                        <input formControlName="yearOfCreation" matInput placeholder="2020" type="number">
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Capital</mat-label>
                        <input formControlName="capital" matInput placeholder="1000000" type="number">
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Sigle</mat-label>
                        <input formControlName="sigle" matInput placeholder="EXC">
                    </mat-form-field>
                </div>
                <div class="text-center mt-3  col-6">
                </div>
            </form>
        </mat-step>
        <!-- Step 2:  légal-->
        <mat-step [stepControl]="legalInfoFormGroup" errorMessage="Les champs obligatoires doivent être remplis.">
            <form [formGroup]="legalInfoFormGroup" class="row">
                <ng-template matStepLabel>Infos légales</ng-template>
                <div class="col-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Titre de Représentant légal</mat-label>
                        <mat-select
                                formControlName="legalRepresentativeTitle" placeholder="Jean Dupont"
                                required>
                            <mat-option *ngFor="let title of titles | async"
                                        [value]="title.id">{{ title.title }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Titre de Représentant légal</mat-label>
                        <mat-select
                                formControlName="legalRepresentativeJobTitle" placeholder="CEO"
                                required>
                            <mat-option *ngFor="let title of jobTitles | async"
                                        [value]="title.id">{{ title.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Représentant légal</mat-label>
                        <input formControlName="legalRepresentative" matInput placeholder="Jean Dupont" required>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Status légal</mat-label>
                        <mat-select
                                formControlName="legalStatus" placeholder="Sarl"
                                required>
                            <mat-option *ngFor="let ls of legalStatuses | async"
                                        [value]="ls.id">{{ ls.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Tribunal</mat-label>
                        <mat-select
                                formControlName="court" placeholder="Casablanca"
                                required>
                            <mat-option *ngFor="let court of courts | async"
                                        [value]="court.id">{{ court.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>ICE</mat-label>
                        <input formControlName="ice" matInput placeholder="123456789" required>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>RC</mat-label>
                        <input formControlName="rc" matInput placeholder="987654321" required>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>IFM</mat-label>
                        <input formControlName="ifm" matInput placeholder="123456" required>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Patente</mat-label>
                        <input formControlName="patent" matInput placeholder="PAT123456">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>CNSS</mat-label>
                        <input formControlName="cnss" matInput placeholder="CNSS123456">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Certification</mat-label>
                        <input formControlName="certificationText" matInput placeholder="ISO 9001">
                    </mat-form-field>
                </div>
                <div>
                </div>
            </form>
        </mat-step>


        <!-- Step 4: Contact Information -->
        <mat-step [stepControl]="contactInfoFormGroup" errorMessage="Les champs obligatoires doivent être remplis.">
            <form [formGroup]="contactInfoFormGroup" class="row">
                <ng-template matStepLabel>Infos de contact</ng-template>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="contact@exemple.com" required type="email">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Téléphone</mat-label>
                    <input formControlName="phone" matInput placeholder="+12345672890" required>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Fax</mat-label>
                    <input formControlName="fax" matInput placeholder="+1234567891">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>WhatsApp</mat-label>
                    <input formControlName="whatsapp" matInput placeholder="+12345678922">
                </mat-form-field>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Site Web</mat-label>
                        <input formControlName="website" id="website" matInput placeholder="https://exemple.com">
                        <mat-error>
                            <small *ngIf="website?.invalid && contactInfoFormGroup.get('website')?.touched">Invalid URL format</small>
                            <small *ngIf="website?.invalid && (contactInfoFormGroup.get('website')?.touched || false)">Invalid URL
                                format</small>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Linkedin</mat-label>
                        <input formControlName="linkedin" matInput placeholder="https://linkedin.com/company-name">
                        <mat-error>
                            <small *ngIf="linkedin?.invalid">Invalid URL format</small>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                </div>
            </form>
        </mat-step>


        <!-- Step 5: Business Description -->
        <mat-step>
            <ng-template matStepLabel>Description</ng-template>
            <form [formGroup]="businessDescriptionFormGroup">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="businessDescription" matInput
                              placeholder="L'entreprise Exemple est un fournisseur leader de services d'exemple."
                              required></textarea>
                </mat-form-field>
            </form>
        </mat-step>

        <!-- Step 6: Review and Confirmation -->
        <mat-step>
            <ng-template matStepLabel>Revue & Confirmation</ng-template>
            <div class="row">
                <div class="col-6">
                    <h6>Détails de l'entreprise</h6>
                    <p class="mx-3"><img [src]="environment.baseUrl + '/api/images/' + company?.logo" alt="Logo" width="100"></p>
                    <p>
                        <span class="ma-color"> <i class="bi bi-caret-right-fill mx-2"></i> Nom de l'entreprise :</span>
                        {{ companyDetailsFormGroup.get('companyName')?.value }}
                    </p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i>Sigle :</span> {{ companyDetailsFormGroup.get('sigle')?.value }}</p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i>Capital :</span> {{ companyDetailsFormGroup.get('capital')?.value }}
                        MAD</p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i>Siège social :</span> {{ companyDetailsFormGroup.get('headOffice')?.value }}
                    </p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i>Structure propriétaire :</span> {{ company?.proprietaryStructure?.name }}
                    </p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i>Année de création :</span> {{ companyDetailsFormGroup.get('yearOfCreation')?.value }}
                    </p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i>Taille de l'entreprise :</span> {{ company?.companySize?.name }}
                    </p>
                    <p><span class="ma-color"><i class="bi bi-caret-right-fill mx-2"></i>Ville :</span> {{ company?.city?.name }}
                    </p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i>Pays :</span> {{ company?.country?.name }}
                    </p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i>Industrie :</span> {{ company?.industry?.name }}</p>
                </div>

                <div class="col-6">
                    <h6>Informations légales</h6>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i> ICE :</span> {{ legalInfoFormGroup.get('ice')?.value }}</p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i> RC :</span> {{ legalInfoFormGroup.get('rc')?.value }}</p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i> IFM :</span> {{ legalInfoFormGroup.get('ifm')?.value }}</p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i> Certificat :</span> {{ legalInfoFormGroup.get('certificationText')?.value }}
                    </p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i> Représentant légal :</span> {{ legalInfoFormGroup.get('legalRepresentative')?.value }}
                    </p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i> Titre du représentant légal :</span> {{ company?.reprosentaveJobTitle?.name }}
                    </p>
                </div>


                <div class="col-6">
                    <h6>Informations de contact</h6>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i> Email :</span> {{ contactInfoFormGroup.get('email')?.value }}</p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i> Téléphone :</span> {{ contactInfoFormGroup.get('phone')?.value }}
                    </p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i> Fax :</span> {{ contactInfoFormGroup.get('fax')?.value }}</p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i> WhatsApp :</span> {{ contactInfoFormGroup.get('whatsapp')?.value }}
                    </p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i> Site Web :</span> {{ contactInfoFormGroup.get('website')?.value }}
                    </p>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i> LinkedIn :</span> {{ contactInfoFormGroup.get('linkedin')?.value }}
                    </p>
                </div>

                <div class="col-6">
                    <h6>Description de l'activité</h6>
                    <p><span class="ma-color"><i
                            class="bi bi-caret-right-fill mx-2"></i> Description de l'activité :</span> {{ businessDescriptionFormGroup.get('businessDescription')?.value }}
                    </p>
                </div>
            </div>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end" class="shadow mat-">
    <button [color]="'warn'" class="btn py-1" mat-button mat-dialog-close>Annuler</button>
    <button (click)="stepper.previous()" class="text-secondary" mat-button>Précédent</button>
    <button (click)="stepper.next()"
            class="" color="'primary'"
            mat-button>
        suivant
    </button>
    <button (click)="createOrUpdateCompany()" [disabled]="!isEnabledToCreateCompany()"
            class="btn mat-primary" mat-raised-button>
        <span *ngIf="!company?.id"> Créer </span>
        <span *ngIf="company?.id"> Mettre à jour </span>
        l'entreprise
    </button>

</mat-dialog-actions>

