<h4  mat-dialog-title class="primary-blue-color">{{ 'ADD' | translate }} un Articles à stocker </h4>
<mat-dialog-content>

  <section class="my-2">
    <!-- Form Section -->
    <form  [formGroup]="itemToStoreFormGroup"
          class="rounded-2 mt-2 w-100 row col-12 mx-2 p-2 bg-light">
      <!-- Conditionnement -->
      <p class="col-12 text-secondary fs-6 d-flex ">
        <mat-icon class="me-2">inventory</mat-icon> Conditionnement
      </p>
      <div class="col-lg-3 col-md-6 col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Support </mat-label>
          <mat-select formControlName="supportId" required>
            <mat-option *ngFor="let support of supports.getValue()" [value]="support.id">{{support.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Structure -->
      <div class="col-lg-3 col-md-6 col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Structure</mat-label>
          <mat-select formControlName="structureId">
            <mat-option *ngFor="let structure of structures.getValue()" [value]="structure.id">{{ structure.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Température de stockage -->
      <div class="col-lg-3 col-md-6 col-12">
        <mat-form-field appearance="outline" class="w-100  ">
          <mat-label>Température de stockage</mat-label>
          <mat-select formControlName="temperatureId"  required>
            <mat-option *ngFor="let temperature of temperatures.getValue()" [value]="temperature.id">{{ temperature.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Température de stockage -->
      <div *ngIf="itemToStoreFormGroup.get('temperatureId')?.value && itemToStoreFormGroup.get('temperatureId')?.value != 1 "
        class="col-lg-3 col-md-6 col-12" >
        <mat-form-field appearance="outline" class="w-100  ">
          <mat-label>Température C°</mat-label>
          <input matInput >
        </mat-form-field>
      </div>

      <p class="col-12 text-secondary fs-6 d-flex">
        <mat-icon class="me-2">straighten</mat-icon> Dimensions
      </p>

      <!-- Largeur -->
      <div class="col-lg-3 col-md-4 col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Largeur (cm)</mat-label>
          <input matInput type="number" formControlName="width" />
        </mat-form-field>
      </div>

      <!-- Longueur -->
      <div class="col-lg-3 col-md-4 col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Longueur (cm)</mat-label>
          <input matInput type="number" formControlName="length" />
        </mat-form-field>
      </div>
      <!-- Hauteur -->
      <div class="col-lg-3 col-md-4 col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Hauteur (cm)</mat-label>
          <input matInput type="number" formControlName="height" />
        </mat-form-field>
      </div>

      <div class="row col-lg-12 col-12 align-items-start">
        <p class="col-12 text-secondary fs-6 d-flex">
          <mat-icon class="me-2">informations</mat-icon> Informations supplémentaires
        </p>

        <!-- Poids -->
        <div class="col-lg-3 col-md-6 col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Poids (kg)</mat-label>
            <input matInput type="number" formControlName="weight" />
          </mat-form-field>
        </div>

        <!-- Niveaux de gerbabilité -->
        <div class="col-lg-3 col-md-6 col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Niveaux de gerbabilité </mat-label>
            <input matInput type="number" formControlName="StackabilityLevels"  />
          </mat-form-field>
        </div>

        <!-- Volume de stock -->
        <div class="col-lg-3 col-md-4 col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Volume </mat-label>
            <input matInput type="number" formControlName="volume" />
          </mat-form-field>
        </div>


        <!-- Quantity -->
        <div class="col-lg-3 col-md-4 col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Quantité</mat-label>
            <input matInput type="number" formControlName="quantity" min="0" />
          </mat-form-field>
        </div>

        <!-- Nombre de UVC -->
        <div class="col-lg-3 col-md-4 col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre de UVC</mat-label>
            <input matInput type="number" formControlName="uvc" />
          </mat-form-field>
        </div>

        <!-- Nombre de UC -->
        <div class="col-lg-3 col-md-4 col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre de UC</mat-label>
            <input matInput type="number" formControlName="uc" />
          </mat-form-field>
        </div>

        <div class="col-lg-3 px-5 pt-3">
          <mat-slide-toggle
            formControlName="isFragile"
            class="example-margin scale-09"
            color="primary"
            [checked]="false"
          >
            <mat-label> Fragile</mat-label>
            <!--                {{ interlocutorForm.get('active')?.value ? 'Active' : 'Inactive' }}-->

          </mat-slide-toggle>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-12 row">
        <p class="col-12 text-secondary fs-6 d-flex">
          <mat-icon class="me-2">assignment</mat-icon> Préstations
        </p>
        <div class="col-lg-6">
<!--          <mat-form-field appearance="outline" class="w-100">-->
<!--            <mat-label>Prestation</mat-label>-->
<!--            <mat-select formControlName="provisions" multiple>-->
<!--              <mat-option  *ngFor="let provision of provisions | async" [value]="provision.id">-->
<!--                {{ provision.name }}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
          <mat-form-field appearance="outline" class="example-full-width w-100 scale-09">
            <mat-label>Préstations</mat-label>
            <input #input
                   (focus)="filter()"
                   (input)="filter()"
                   (keydown.enter)="$event.preventDefault()"
                   [formControl]="provisionControl"
                   [matAutocomplete]="auto"
                   matInput
                   placeholder=""
                   type="text">
            <mat-autocomplete #auto="matAutocomplete" requireSelection>
              @for (prv of filteredOptions; track prv) {
                <mat-option (click)="addProvision(prv)" [value]="prv.name">{{ prv.name }}
                </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-lg-12 col-12" >
          <table mat-table [dataSource]="selectedProvisions.getValue()" class="mat-elevation-z1 col-lg-6 col-12">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef > Désignation </th>
              <td mat-cell *matCellDef="let element" class="p-2"> {{ element.name }} </td>
            </ng-container>

            <!-- Unit Column -->
            <ng-container matColumnDef="unite">
              <th mat-header-cell *matHeaderCellDef > Unité </th>
              <td mat-cell *matCellDef="let element" class="p-2"> {{ element.unitOfMeasurement }} </td>
            </ng-container>

            <!-- Actions -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef >  </th>
              <td mat-cell *matCellDef="let element" class="p-2">
                <mat-icon (click)="romoveProvsion(element)" class="text-danger">close</mat-icon></td>
            </ng-container>

            <!-- Header Row -->
            <tr mat-header-row *matHeaderRowDef="provisionsDisplayedColumns" class="primary-blue-color fixed-header bg-light rounded-3 custom-header-row p-0"></tr>
            <!-- Data Row -->
            <tr mat-row *matRowDef="let row; columns: provisionsDisplayedColumns;" class="bg-white text-secondary"></tr>
          </table>
        </div>
      </div>
    </form>
  </section>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [color]="'warn'" mat-dialog-close class="rounded-2">{{ 'CANCEL' | translate }}</button>
  <button (click)="createNewStockedItem()"
    mat-button [color]="'primary'"  cdkFocusInitial class="rounded-2">{{ 'ADD' | translate }}</button>
</mat-dialog-actions>
