<mat-drawer-container>
  <div class="container-fluid bg-body row d-flex justify-content-center w-100">
    <!-- Page Header -->
    <!-- Actions -->
    <div class="d-flex justify-content-between row">
      <div class="col-8">
        <button (click)="router.navigate(['/admin/crm/wms/wms/delivery-note'])" color="primary" mat-button>
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-button (click)="router.navigate(['/admin/crm/wms'])">
          <mat-icon class=" primary-blue-color">house</mat-icon>
          {{ 'HOME' | translate }}
        </button>
        >
        <button mat-button (click)="router.navigate(['/admin/crm/wms/delivery-note'])">
          <mat-icon class=" primary-blue-color">checklist</mat-icon>
          {{ 'DELIVERY_NOTES' | translate }}
        </button>
        >
        <button mat-button (click)="router.navigate(['/admin/crm/wms/needs'])">
          <mat-icon class=" primary-blue-color">details</mat-icon>
          {{ 'DETAILS' | translate }}
        </button>
      </div>
      <div class="col-2 d-flex justify-content-end">
        <button [matMenuTriggerFor]="menu" class="bg-spider scale-08 primary-blue-color fw-bold rounded-2"
          aria-label="Actions" mat-raised-button>
          {{ 'ACTIONS' | translate }} <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="bg-spider scale-09">
          <button mat-menu-item>
            <mat-icon>add</mat-icon>
            Valider par RE
          </button>
          <button mat-menu-item>
            <mat-icon>add</mat-icon>
            {{ 'VALIDATE_BY_C' | translate }}
          </button>
          <button (click)="CreateStorageInvoice()" mat-menu-item>
            <mat-icon>add</mat-icon>
            {{ 'CREATE_INVOICE' | translate }}
          </button>
          <button mat-menu-item (click)="onCreateModificationRequest()">
            <mat-icon>edit</mat-icon>
            {{ 'CREATE_MODIFICATION_REQUEST' | translate }}
          </button>
        </mat-menu>
      </div>
    </div>
    <hr>
  </div>
  <section class="container-fluid px-2">
    <div class="row p-2">
      <ng-container class="col-12 row ">
        <mat-card class="mt-2 rounded-2 bg-white mat-elevation-z2 border border-secondary-subtle border-1 col-6">
          <mat-card-content>
            <p class="fs-6 align-items-center d-flex primary-blue-color">
              <mat-icon class="scale-08">business</mat-icon>
              {{ 'GENERAL_INFO' | translate }}
            </p>
            <p><span class="text-secondary">{{ 'REFERENCE' | translate }}:</span> {{ deliveryNote.getValue().number }}
            </p>
            <p><span class="text-secondary">{{ 'STATUS' | translate }}:</span>
              <button [ngClass]="['btn', 'btn-sm', 'bg-warning-subtle']">
                {{ deliveryNote.getValue().status?.name }}</button>
            </p>
            <p><span class="text-secondary">{{ 'DATE' | translate }}:</span> {{ deliveryNote.getValue().createdAt |
              date:'dd/MM/YYYY HH:mm' }}</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="mt-2 rounded-2 bg-white mat-elevation-z2 border border-secondary-subtle border-1 col-6">
          <mat-card-content>
            <p class="fs-6 align-items-center d-flex primary-blue-color">
              <mat-icon class="scale-08">business</mat-icon>
              {{ 'CLIENT_INFO' | translate }}
            </p>
            <p><span class="text-secondary">{{ 'CLIENT' | translate }}:</span> {{
              deliveryNote.getValue().storageContract?.customer?.name }}</p>
            <p><span class="text-secondary">{{ 'CONTRACT' | translate }}:</span> {{
              deliveryNote.getValue().storageContract?.number }}</p>
            <p>
              <span class="text-secondary">{{ 'INVOICE' | translate }}:</span>
              <span *ngFor="let item of deliveryNote.getValue().storageInvoiceResponseDtos">{{item.number }}</span>
            </p>
          </mat-card-content>
        </mat-card>

      </ng-container>
      <ng-container class="col-12">
        <mat-card class="mt-2 rounded-2 bg-white mat-elevation-z2 border border-secondary-subtle border-1">
          <mat-card-content>
            <div class="card-body">
              <p class="primary-blue-color text-decoration-underline m-2">
                <mat-icon class="scale-08 me-2">edit</mat-icon>{{ 'MODIFICATION_REQUESTS' | translate }}:
              </p>
              <table class="table small border-secondary">
                <thead class=" fw-light">
                  <tr>
                    <th scope="col" class="bg-light primary-blue-color fw-light">{{ 'COMMENT' | translate }}</th>
                    <th scope="col" class="bg-light primary-blue-color fw-light">{{ 'STATUS' | translate }}</th>
                    <th scope="col" class="bg-light primary-blue-color fw-light">{{ 'DATE' | translate }}</th>
                    <th scope="col" class="bg-light primary-blue-color fw-light">{{ 'CREATED_BY' | translate }}</th>
                    <th scope="col" class="bg-light primary-blue-color fw-light">{{ 'ACTIONS' | translate }}</th>
                  </tr>
                </thead>
                <tbody>

                  <tr class="p-0" *ngFor="let item of deliveryNote.getValue().storageDeliveryNoteUpdateRequests">
                    <td>{{ item.note }}</td>
                    <td><button
                        [ngClass]="['btn', 'btn-sm', item.status < 2 ? 'bg-warning-subtle' : 'bg-success-subtle']">{{
                        getRequestStatus(item.status) }}</button></td> <!-- Uncommented & Fixed -->
                    <td>{{ item.createdAt }}</td>
                    <td>{{ item.createdBy?.name }}</td>
                    <td><button *ngIf="item.status < 2" (click)="OnValidateUpdateRequest(item.id)" class="text-success "
                        mat-button>{{ 'VALIDATED' | translate }}</button></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-container class="col-12">
        <mat-card class="mt-2 rounded-2 bg-white mat-elevation-z2 border border-secondary-subtle border-1">
          <mat-card-content>
            <div class="card-body">
              <table class="table small border-secondary">
                <thead class=" fw-light">
                  <tr>
                    <th scope="col" class="bg-light primary-blue-color fw-light">{{ 'SERVICES' | translate }}</th>
                    <th scope="col" class="bg-light primary-blue-color fw-light">{{ 'UNIT' | translate }}</th>
                    <!--                <th scope="col" class="bg-light primary-blue-color fw-light">Prix de vente</th>-->
                    <th scope="col" class="bg-light primary-blue-color fw-light">{{ 'QUANTITY' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <p class="primary-blue-color fw-bold text-decoration-underline m-2">{{ 'SERVICES' | translate }}:</p>
                  <tr class="p-0" *ngFor="let item of deliveryNote.getValue().stockedItemResponseDtos">
                    <td>{{ item.provisionResponseDto.name +" "+ item.stockedItemResponseDto.supportName+" "+
                      item.stockedItemResponseDto.structureName }}</td>
                    <td>{{ item.provisionResponseDto.unitOfMeasurement }}</td> <!-- Uncommented & Fixed -->
                    <!--                <td>{{  prv.salesPrice }}</td>-->
                    <td>
                      <input [value]="item.quantity" [disabled]="!isEditing.getValue()"
                        (change)="updateProvisionQuantity(item, $event)"
                        class="form-control custom-input form-control-sm" type="number" />
                    </td>

                  </tr>
                  <p class="primary-blue-color fw-bold text-decoration-underline m-2">{{ 'UNLOADING' | translate }}</p>
                  <tr class="p-0" *ngFor="let item of deliveryNote.getValue().unloadingTypeResponseDtos">
                    <td>{{ item.unloadingTypeResponseDto.name }}</td>
                    <td>{{ item.unloadingTypeResponseDto.unitOfMeasurement }}</td> <!-- Uncommented & Fixed -->
                    <!--                <td>{{  prv.salesPrice }}</td>-->
                    <td>
                      <input [value]="item.quantity" [disabled]="!isEditing.getValue()"
                        (change)="updateUnloadingQuantity(item, $event)"
                        class="form-control custom-input form-control-sm" type="number" />
                    </td>
                  </tr>

                  <p class="primary-blue-color fw-bold text-decoration-underline m-2">{{ 'SERVICES_LABEL' | translate }}
                  </p>
                  <tr class="p-0" *ngFor="let item of deliveryNote.getValue().requirementResponseDtos">
                    <td>{{ item.requirementResponseDto.name }}</td>
                    <td>{{ item.requirementResponseDto.unitOfMeasurement }}</td> <!-- Uncommented & Fixed -->
                    <!--                <td>{{  prv.salesPrice }}</td>-->
                    <td>
                      <input [value]="item.quantity" [disabled]="!isEditing.getValue()"
                        (change)="updateRequirementQuantity(item, $event)"
                        class="form-control custom-input form-control-sm" type="number" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>


    </div>
  </section>
  <app-general-infos [createdAt]="deliveryNote.getValue().createdAt" [createdBy]="deliveryNote.getValue().createdBy"
    [updatedAt]="deliveryNote.getValue().updatedAt" [updatedBy]="deliveryNote.getValue().updatedBy"
    (onClickOnComment)="drawer.toggle()" (onClickOnTrackingLog)="openTrackingLog()"></app-general-infos>

  <mat-drawer #drawer mode="side" position="end" class="bg-light px-2 py-1 shadow-sm rounded-0">
    <mat-toolbar class="text-end w-100 d-flex mb-2 justify-content-between bg-spider rounded-2 mat-elevation-z3">
      <span class="small">💬 {{ 'COMMENTS' | translate }}</span>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <app-comment [entity]="EntityEnum.STORAGNOTE" [entityId]="deliveryNote.getValue().id"></app-comment>
  </mat-drawer>
</mat-drawer-container>