<div class="container">

  <!-- Header Section -->
  <div class="d-flex justify-content-between align-items-baseline row rounded-3 my-2">
    <div class="col-lg-6 col-12 text-start mx-2">
      <button class="fs-6" mat-button disabled>
        <mat-icon class="me-2 text-dark">add_circle</mat-icon> Ajouter une facture
      </button>
    </div>
    <div class="col-lg-5 col-12 mx-2 my-auto d-flex justify-content-lg-end align-items-center">
      <button  mat-button class="rounded-3 bg-primary-blue-color text-white mat-elevation-z1" style="transform:scale(0.9)">
        <mat-icon>save</mat-icon> Sauvegarder
      </button>
      <button mat-icon-button class="rounded-3 bg-white my-auto mat-elevation-z4" style="transform:scale(0.9)" aria-label="Filter">
        <mat-icon><i class="bi bi-funnel"></i></mat-icon>
      </button>
      <button mat-icon-button class="rounded-3 bg-white my-auto mat-elevation-z4" style="transform:scale(0.9)" aria-label="More options">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>

  <mat-card class="bg-white rounded-0 mat-elevation-z2">
   <mat-card-content>
     <form [formGroup]="customerFrom" class="row">
       <div class="col-lg-3">
         <mat-form-field appearance="outline" class="w-100 mb-3">
           <mat-label>Date</mat-label>
           <input matInput [matDatepicker]="picker" formControlName="data" required />
           <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
           <mat-datepicker #picker></mat-datepicker>
         </mat-form-field>
       </div>

       <div class="col-lg-3">
         <mat-form-field appearance="outline" class="w-100 mb-3">
           <mat-label>Client</mat-label>
           <mat-select formControlName="costumerId" required>
             <mat-option *ngFor="let customer of customers.getValue()" [value]="customer.id">
               {{ customer.name }}
             </mat-option>
           </mat-select>
         </mat-form-field>
       </div>
       <div class="col-lg-3">
         <mat-form-field appearance="outline" class="w-100 mb-3">
           <mat-label>Contrat</mat-label>
           <mat-select formControlName="contractId" required>
             <mat-option *ngFor="let contract of contract.getValue()" [value]="contract.id">
               {{ contract.ref }}
             </mat-option>
           </mat-select>
         </mat-form-field>
       </div>
     </form>
   </mat-card-content>
  </mat-card>

  <mat-card *ngIf="selectedContract.getValue().id != null" class="mb-2 bg-white mt-2 details-card col-12 rounded-0 mat-elevation-z3 ">
    <div class="w-100">
      <p class="fs-6 align-items-center d-flex primary-blue-color">
        <mat-icon class="scale-08">inventory</mat-icon>
        Articles a Stockés
      </p>
      <div class="mat-elevation-z0 table-container">
        <table class="table   rounded-2 mat-elevation-z1 overflow-hidden">
          <!-- Table Header -->
          <thead class="table-light  fw-light">
          <tr class="">
            <!--            <th>Référence</th>-->
            <th class="  fw-light">Support</th>
            <th class=" fw-light">Structure</th>
            <th class=" fw-light">Température</th>
            <th class=" fw-light">Dimensions L*L*H</th>
            <th class=" fw-light">Fragile</th>
            <th class=" fw-light">gerbabilié</th>
            <th class=" fw-light">Uc</th>
            <th class=" fw-light">Uvc</th>
            <th class=" fw-light">Préstations</th>
            <th class="bg-white fw-light"></th>
          </tr>
          </thead>

          <!-- Table Body -->
          <tbody *ngFor="let item of selectedContract.getValue().stockedItems">
          <tr>
            <!--            <td>{{ item.ref }}</td>-->
            <td class="text-secondary">{{ item.supportName || "N/A"}}</td>
            <td class="text-secondary">{{ item.structureName }}</td>
            <td class="text-secondary">{{ item.temperatureName }}</td>
            <td class="text-secondary">
              {{ item.dimension?.length }}*{{ item.dimension?.width }}* {{ item.dimension?.height }}
            </td>
            <td class="">
              <i *ngIf="item.isFragile" class="bi bi-exclamation-triangle text-danger"></i>
              <i *ngIf="!item.isFragile" class="bi bi-check-circle text-success"></i>
            </td>
            <td class="text-secondary">{{ item.stackedLevelName }}</td>
            <td class="text-secondary">{{ item.uvc }}</td>
            <td class="text-secondary">{{ item.uvc }}</td>
            <td (click)="expandedElement = expandedElement === item ? null : item" class="text-secondary">
              <!--              <button class="btn btn-fill-primary btn-sm" >-->
              {{ item.provisionResponseDto?.length }}
              <i [ngClass]="expandedElement === item ? 'bi-chevron-up' : 'bi-chevron-down'"
                 class="bi"></i>
              <!--              </button>-->
            </td>
          </tr>
          <tr *ngIf="item?.provisionResponseDto != undefined">
            <td colspan="6">
              <div class="card-body">
                <table *ngIf="item?.provisionResponseDto?.length " class="table small border-secondary">
                  <thead class=" fw-light">
                  <tr>
                    <th class="bg-spider fw-light" scope="col">Préstations</th>
                    <th class="bg-spider fw-light" scope="col">Unité</th>
                    <th class="bg-spider fw-light" scope="col">Prix de base</th>
                    <th class="bg-spider fw-light" scope="col">Prix de vente</th>
                    <th class=" fw-light">Quantité</th>
                    <th class=" fw-light">Total TTC</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let prv of item.provisionResponseDto" class="p-0">
                    <td>{{ prv.name }}</td>
                    <td>{{ prv.unitOfMeasurement }}</td> <!-- Uncommented & Fixed -->
                    <td>{{ prv.initPrice | currency }}</td>
                    <td>{{ prv.salesPrice | currency }}</td>
                    <td> <input type="number" name="" id="" class="custom-input"> </td>
                    <td>{{ prv.salesPrice | currency }}</td>
                  </tr>
                  </tbody>
                </table>

                <p *ngIf="!item?.provisionResponseDto?.length" class="text-muted">
                  <em>Aucune provision associée</em>
                </p>
              </div>

            </td>
          </tr>

          <!-- Expanded Row for Provisions -->

          </tbody>
        </table>

      </div>


    </div>
  </mat-card>

  <div *ngIf="selectedContract.getValue().id != null" class="row d-flex justify-content-around px-lg-3">
    <mat-card class="bg-white p-2 px-lg-3 mb-2 rounded-0 mat-elevation-z2 col-12">
      <p class="primary-blue-color fs-6 d-flex">
        <mat-icon class="me-2">local_shipping</mat-icon>
        Dépotage
      </p>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <table [dataSource]="selectedContract.getValue().unloadingTypes" class="mat-elevation-z1 w-100" mat-table>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th *matHeaderCellDef mat-header-cell>Désignation</th>
              <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th *matHeaderCellDef mat-header-cell>Prix</th>
              <td *matCellDef="let element" mat-cell>{{ element.initPrice | currency }}</td>
            </ng-container>

            <!-- Unit Column -->
            <ng-container matColumnDef="unite">
              <th *matHeaderCellDef mat-header-cell>Unité</th>
              <td *matCellDef="let element" mat-cell>{{ element.unitOfMeasurement }}</td>
            </ng-container>
            <!-- final price -->
            <ng-container matColumnDef="finalPrice">
              <th *matHeaderCellDef mat-header-cell>Prix de vente</th>
              <td *matCellDef="let element" mat-cell>
                {{element.salesPrice}}
              </td>
            </ng-container>
            <!-- Quantity -->
            <ng-container matColumnDef="quantity">
              <th *matHeaderCellDef mat-header-cell>Quantité</th>
              <td *matCellDef="let element" mat-cell>
               <input type="number" name="" class="custom-input">
              </td>
            </ng-container>
                        <!-- Header Row -->
            <tr *matHeaderRowDef="displayedColumns" class="primary-blue-color fixed-header bg-light rounded-3 custom-header-row p-0"
                mat-header-row></tr>

            <!-- Data Row -->
            <tr *matRowDef="let row; columns: displayedColumns;" class="bg-white text-secondary" mat-row></tr>
          </table>
        </div>
      </div>
    </mat-card>
    <mat-card class="bg-white p-2 px-lg-3 mb-2 rounded-0 mat-elevation-z2 col-12">
      <p class="primary-blue-color fs-6 d-flex">
        <mat-icon class="me-2">rule</mat-icon>
        Exigences
      </p>
      <div class="row">
              <!-- Tableau -->
        <div class="col-lg-12 col-md-12 col-12">
          <table [dataSource]="selectedContract.getValue().requirements" class="mat-elevation-z1 w-100" mat-table>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th *matHeaderCellDef mat-header-cell>Désignation</th>
              <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th *matHeaderCellDef mat-header-cell>Prix</th>
              <td *matCellDef="let element" mat-cell>{{ element.initPrice | currency }}</td>
            </ng-container>

            <!-- Unit Column -->
            <ng-container matColumnDef="unite">
              <th *matHeaderCellDef mat-header-cell>Unité</th>
              <td *matCellDef="let element" mat-cell>{{ element.unitOfMeasurement }}</td>
            </ng-container>
            <!-- final price -->
            <ng-container matColumnDef="finalPrice">
              <th *matHeaderCellDef mat-header-cell>Prix de vente</th>
              <td *matCellDef="let element" mat-cell>
                {{element.salesPrice}}
              </td>
            </ng-container>
            <!-- Quantity -->
            <ng-container matColumnDef="quantity">
              <th *matHeaderCellDef mat-header-cell>Quantité</th>
              <td *matCellDef="let element" mat-cell>
                <input type="number" name="" class="custom-input my-1">
              </td>
            </ng-container>

            <!-- Header Row -->
            <tr *matHeaderRowDef="displayedColumns" class="primary-blue-color fixed-header bg-light rounded-3 custom-header-row p-0"
                mat-header-row></tr>

            <!-- Data Row -->
            <tr *matRowDef="let row; columns: displayedColumns;" class="bg-white text-secondary" mat-row></tr>
          </table>
        </div>
      </div>
    </mat-card>
  </div>

  <p>Total Ht: {{ subtotal.toFixed(2) }} MAD</p>
  <p>TVA (20%): {{ tax.toFixed(2) }} MAD</p>
  <p>Total TTC: {{ total.toFixed(2) }} MAD</p>

</div>
