<div class="position-relative">

    <button
            *ngIf="!isCommentOpen.getValue()"
            class="btn btn-primary d-flex align-items-center mb-4 comments-button"
            type="button"
            aria-controls="offcanvasRight"
            (click)="toggleComment()"
            mat-fab
    >
            <mat-icon matBadge="{{ comments.getValue().length }}"  matBadgeColor="accent">chat_bubble</mat-icon>
    </button>

    <div class="offcanvas offcanvas-end d-flex flex-column"
         [ngClass]="{ show: isCommentOpen.getValue() }"
         *ngIf="isCommentOpen.getValue()"
         tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title user-info" id="offcanvasRightLabel">
                <mat-icon>chat_bubble</mat-icon> Commentaires
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                    (click)="closeComment()"
            ></button>
        </div>


        <!-- Comments Replies here -->
        <div class="offcanvas-body flex-grow-1 " *ngIf="comments.getValue().length > 0; else noComments">
            <ul class="list-group"  *ngFor="let comment of comments | async;" >
                <li  class="bg-light list-group-item mb-2"
                     (mouseenter)="showUtil(comment.id)"
                     (mouseleave)="hideUtil()">
                    <div class="user-info">
                        <mat-icon class="user-icon">account_circle</mat-icon>
                        <strong>{{ comment.userName }}</strong><br />
                    </div>

                    <!-- TODO: Timestamp -->
                    <!--<small class="commentdate">{{ comment.timestamp | date: 'short' }}</small>-->
                    <div class="toast-body ">
                        {{ comment.commentTxt }}
                    </div>

                    <div class="text-si" *ngIf="hoveredCommentIndex === comment.id">

                        <button *ngIf="canEditComment(comment)"
                                mat-button class="text-secondary" (click)="toggleEdit(comment.id)">
                            <mat-icon class="text-secondary">edit</mat-icon>
                        </button>

                        <button  mat-button class="text-danger "  (click)="deleteComment(comment.id)">
                            <mat-icon class="text-danger">delete</mat-icon>
                        </button>


                        <button mat-button class="font-s primary-blue-color" (click)="toggleReply(comment.id)">
                            <mat-icon>reply</mat-icon>
                        </button>

                    </div>

                    <div *ngIf="replyIndex === comment.id" class="d-flex align-items-around mb-3 p-1">
                        <input
                                [formGroup]="replyForm"
                                (keydown.enter)="addReply(comment.id)"
                                type="text"
                                class="form-control mb-2"
                                placeholder="Écris une réponse"
                        />
                        <button mat-icon-button class="text rounded-3 bg-light  add-btn" [color]="'primary'" type="button"
                                (click)="addReply(comment.id)"
                                [disabled]="!replyForm.get('reply')?.valid">
                            <mat-icon>send</mat-icon>
                        </button>
                    </div>

                    <!-- TODO Display replies -->
    <!--                <ul *ngIf="comment.replies.length > 0" class="list-group ms-3 reply">-->
    <!--                    <li *ngFor="let reply of comment.replies" class="list-group-item">-->

    <!--                        <div class="user-info">-->
    <!--                            <mat-icon class="user-icon">account_circle</mat-icon>-->
    <!--                            <strong>{{ reply.userName }}</strong><br />-->
    <!--                        </div>-->
    <!--                        <small class="commentdate">{{ reply.timestamp | date: 'short' }}</small>-->
    <!--                        <div class="toast-body">-->
    <!--                            {{ reply.replyTxt }}-->
    <!--                        </div>-->
    <!--                        <div class="text-si" *ngIf="hoveredCommentIndex === i">-->

    <!--                            <button  mat-icon-button class="text-secondary" >-->
    <!--                                <mat-icon class="text-secondary">edit</mat-icon>-->
    <!--                            </button>-->
    <!--                            <button  mat-icon-button class="text-danger "  (click)="deleteComment(i)">-->
    <!--                                <mat-icon class="text-danger">delete</mat-icon>-->
    <!--                            </button>-->
    <!--                        </div>-->
    <!--                    </li>-->
    <!--                </ul>-->

                    <!-- Display Edit -->
<!--                    <div *ngIf="EditIndex === comment.id" class="d-flex align-items-around mb-3 p-1">-->
<!--                        <input-->
<!--                                [formControl]="commentForm.get('comment')"-->
<!--                                (keydown.enter)="editComment(comment.id)"-->
<!--                                type="text"-->
<!--                                class="form-control mb-2"-->
<!--                                placeholder="Modifer"-->
<!--                        />-->
<!--                        <button mat-icon-button class="text rounded-3 bg-light  add-btn" [color]="'primary'" type="button"-->
<!--                                (click)="editComment(comment.id)"-->
<!--                                [disabled]="!commentForm[comment.id]?.controls['comment']?.valid" >-->
<!--                            <mat-icon>send</mat-icon>-->
<!--                        </button>-->
<!--                    </div>-->

                </li>
            </ul>

        </div>

        <ng-template #noComments>
            <p class="text-muted">Aucun commentaire pour l'instant.</p>
        </ng-template>

        <div class="offcanvas-footer mt-auto">
            <div class="d-flex align-items-around mb-3 p-1">

                <form [formGroup]="commentForm" class="w-100">
                    <input formControlName="comment"
                           type="text" class="form-control w-100" placeholder="comment"
                           (keydown.enter)="addComment()"
                    />
                </form>
                <button  mat-icon-button class="text rounded-3 bg-light  add-btn" [color]="'primary'" type="button"
                        (click)="addComment()"
                        [disabled]="!commentForm.get('comment')?.valid">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>