<div class="position-relative">

    <button
            *ngIf="!isCommentOpen.getValue()"
            class="btn btn-primary d-flex align-items-center mb-4 comments-button shadow-sm"
            type="button"
            aria-controls="offcanvasRight"
            (click)="toggleComment()"
            mat-fab
    >
            <mat-icon matBadge="{{ comments.getValue().length }}"  matBadgeColor="accent">chat_bubble</mat-icon>
    </button>

    <div class="offcanvas offcanvas-end d-flex flex-column"
         [ngClass]="{ show: isCommentOpen.getValue() }"
         *ngIf="isCommentOpen.getValue()"
         tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header mat-elevation-z1">
            <p class="offcanvas-title user-info h5 text-secondary " id="offcanvasRightLabel">
                <mat-icon class="primary-blue-color mx-2">chat_bubble</mat-icon> Commentaires
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                    (click)="closeComment()"
            ></button>
        </div>


        <!-- Comments Replies here -->
        <div class="offcanvas-body flex-grow-1 " *ngIf="comments.getValue().length > 0; else noComments">
            <ul class="list-group"  *ngFor="let comment of comments | async;" >
              <li class="bg-light list-group-item mb-2 p-0 comment-container mat-elevation-z1">
                <!-- User Info Section -->
                <div class="user-info d-flex  p-0 justify-content-between align-items-center">
                  <button mat-button class="bg-white  rounded-start-0 mat-elevation-z1">
                    <mat-icon class="">account_circle</mat-icon>
                    {{ comment.userName }}
                  </button>

                  <small class="text-muted small mx-3">{{comment.createdAt | date:'dd-MM-yyyy hh:mm'}}</small>

                  <!-- Options Section -->
                  <div class="comments-options d-none small scale-09 p-0 m-0 text-end">
                    <button mat-icon-button class="text-danger" (click)="deleteComment(comment.id)">
                      <mat-icon class="text-danger">delete</mat-icon>
                    </button>
                  </div>
                </div>

                <!-- Comment Text -->
                <div class="toast-body my-2 mx-2">
                  {{ comment.commentTxt }}
                </div>


              </li>

            </ul>

        </div>

        <ng-template #noComments>
            <p class="text-muted">Aucun commentaire pour l'instant.</p>
        </ng-template>

        <div class="offcanvas-footer mt-auto mat-elevation-z2">
            <div class="d-flex align-items-center align-baseline mb-3 p-1">

                <form [formGroup]="commentForm" class="w-100">
                  <input #commentInput
                         formControlName="comment"
                         type="text"
                         class="form-control w-100"
                         placeholder="Comment"
                         (keydown.enter)="addComment()"
                  />
                </form>
                <button  mat-icon-button class="text rounded-3 bg-light  add-btn" [color]="'primary'" type="button"
                        (click)="addComment()"
                        [disabled]="!commentForm.get('comment')?.valid">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
