<div class="full-height-size mb-5 px-2 rounded-3  mb-2 ">

  <!-- Header Section -->
  <div class="d-flex justify-content-between align-items-baseline row rounded-3 my-2">
    <div class="col-lg-6 col-12 text-start mx-2">
      <button class="fs-6" mat-button disabled>
        <mat-icon class="me-2 text-dark">add_circle</mat-icon> Ajouter un Offre
      </button>
    </div>
    <div class="col-lg-5 col-12 mx-2 my-auto d-flex justify-content-lg-end align-items-center">
      <button (click)="createStorageOffer()" mat-button class="rounded-3 bg-primary-blue-color text-white mat-elevation-z1" style="transform:scale(0.9)">
        <mat-icon>save</mat-icon> Sauvegarder
      </button>
      <button mat-icon-button class="rounded-3 bg-white my-auto mat-elevation-z4" style="transform:scale(0.9)" aria-label="Filter">
        <mat-icon><i class="bi bi-funnel"></i></mat-icon>
      </button>
      <button mat-icon-button class="rounded-3 bg-white my-auto mat-elevation-z4" style="transform:scale(0.9)" aria-label="More options">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>

  <section class="">
    <!-- Form Section -->
    <form [formGroup]="generalInfoFormGroup" class="rounded-2 p-lg-3 mat-elevation-z2 bg-white mx-1 row ">
      <p class="col-12 primary-blue-color fs-6 d-flex">
        <mat-icon class="me-2">person</mat-icon> Information du Client
      </p>
      <!-- Date de réception -->
      <div class="col-lg-3">
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Date de réception</mat-label>
          <input matInput [disabled]="true" [matDatepicker]="picker" formControlName="dateReception" required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Entreprise -->
      <div class="col-lg-3">
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Client</mat-label>
          <mat-select [disabled]="true" formControlName="costumer" required>
            <mat-option *ngFor="let customer of customers.getValue()" [value]="customer.id">
              {{ customer.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Interlocuteurs -->
      <div class="col-lg-3">
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Interlocuteurs</mat-label>
          <mat-select formControlName="interlocuteurs" >
            <mat-option *ngFor="let interlocutor of filteredInterlocutors.getValue()" [value]="interlocutor.id">
              {{ interlocutor.fullName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Type de produits -->
      <div class="col-lg-3">
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Type de produits</mat-label>
          <input matInput formControlName="typeProduits" required />
        </mat-form-field>
      </div>

      <!-- Durée de stockage -->
      <div class="col-lg-3">
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Durée de stockage (Mois)</mat-label>
          <input matInput type="number" formControlName="dureeStockage" required />
        </mat-form-field>
      </div>

      <!-- Nombre de SKU -->
      <div class="col-lg-3">
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Nombre de SKU</mat-label>
          <input matInput type="number" formControlName="nombreSku"/>
        </mat-form-field>
      </div>

      <!-- Raison de stockage -->
      <div class="col-lg-3">
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Raison de stockage</mat-label>
          <mat-select formControlName="raisonStockage" required>
            <mat-option *ngFor="let reason of storageReasons" [value]="reason.key">
              {{ reason.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Livre -->
      <div class="col-lg-3">
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Livre</mat-label>
          <mat-select formControlName="livre" required>
            <mat-option *ngFor="let livre of livreStatuses" [value]="livre.key">
              {{ livre.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Taux de commandes par jour -->
      <div class="col-lg-3">
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Taux de commandes par jour</mat-label>
          <input matInput type="number" formControlName="tauxCommandes"  />
        </mat-form-field>
      </div>
     <!-- Payment methode-->
      <form [formGroup]="paymentTypeForm" class="col-6 row">
      <div class="col-lg-6">
           <mat-form-field appearance="fill" class="w-100 mb-3">
             <mat-label>Modalités de paiement</mat-label>
             <mat-select formControlName="paymentTypeIds" required multiple>
               <mat-option *ngFor="let type of paymentMethods.getValue()" [value]="type.id">
                 {{ type.name }}
               </mat-option>
             </mat-select>
           </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Délais de Paiement (jours)</mat-label>
          <input matInput type="number" formControlName="paymentDeadline"/>
        </mat-form-field>
      </div>
      </form>
    </form>
  </section>

<mat-card class="p-2 rounded-2  my-2">
  <p class="fs-6 align-items-center d-flex primary-blue-color">
    <mat-icon class="scale-08">inventory</mat-icon>
    Articles a Stockés
  </p>
  <ng-container  *ngFor="let item of itemsToStore.getValue()" >
    <mat-card class="mt-2 rounded-2 bg-white mat-elevation-z3">
      <mat-card-content>
        <div class="row text-secondary" >
          <p class=" fw-light col-lg-3 col-6">Support: <span class=" text-dark">{{item.supportName}}</span></p>
          <p class=" fw-light col-lg-3 col-6">Structure: <span class=" text-dark">{{item.structureName}}</span></p>
          <p class=" fw-light col-lg-3 col-6">Température: <span class=" text-dark">{{item.temperatureName}}</span></p>
          <p class=" fw-light col-lg-3 col-6">Dimensions L*L*H: <span class=" text-dark">  {{ item.dimension?.length }}*{{ item.dimension?.width }}* {{ item.dimension?.height }}</span></p>
          <p class=" fw-light col-lg-3 col-6">Fragile: <span class=" text-dark">{{item.isFragile}}</span></p>
          <p class=" fw-light col-lg-3 col-6">gerbabilié: <span class=" text-dark">{{item.stackedLevelName}}</span></p>
          <p class=" fw-light col-lg-3 col-6">Uc: <span class=" text-dark">{{item.uvc}}</span></p>
          <p class=" fw-light col-lg-3 col-6">Uvc: <span class=" text-dark">{{item.uvc}}</span></p>
        </div>
        <table *ngIf="item?.provisionResponseDto?.length " class="table small border-secondary">
          <thead class=" fw-light">
          <tr>
            <th scope="col" class="bg-light primary-blue-color fw-light">Préstations</th>
            <th scope="col" class="bg-light primary-blue-color fw-light">Unité</th>
            <th scope="col" class="bg-light primary-blue-color fw-light">Prix de base</th>
            <th scope="col" class="bg-light primary-blue-color fw-light">Remise</th>
            <th scope="col" class="bg-light primary-blue-color fw-light">Valeur de remise</th>
            <th scope="col" class="bg-light primary-blue-color fw-light">Augmentation</th>
            <th scope="col" class="bg-light primary-blue-color fw-light">Prix de vente</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let prv of item.provisionResponseDto" class="p-0">
            <td>{{ prv.name }}</td>
            <td>{{ prv.unitOfMeasurement }}</td> <!-- Uncommented & Fixed -->
            <td>{{ prv.initPrice }}</td>
            <td>
              <select class="form-select form-select-sm custom-input " (change)="selectDiscountTypeForProvision(item, prv, $event)">
                <option selected [value]="DiscountTypeEnum.NOTAPPLICABLE">N/a</option>
                <option [value]="DiscountTypeEnum.RATE">%</option>
                <option  [value]="DiscountTypeEnum.VALUE">Valeur en DH</option>
              </select>
            </td>
            <td>

              <input disabled
                     *ngIf="prv.discountType == DiscountTypeEnum.NOTAPPLICABLE "
                     class="form-control custom-input form-control-sm" placeholder="0.00" value="0.0" type="text">
              <input
                (change)="addDiscountValueForProvision(item, prv, $event)"
                *ngIf="prv.discountType !== DiscountTypeEnum.NOTAPPLICABLE && prv.discountType === DiscountTypeEnum.VALUE"
                class="form-control custom-input  form-control-sm" placeholder="0.00" type="number">
              <select
                (change)="addDiscountRateForProvision(item, prv, $event)"
                *ngIf="prv.discountType !== DiscountTypeEnum.NOTAPPLICABLE && prv.discountType === DiscountTypeEnum.RATE"
                class="form-select form-select-sm custom-input ">
                <option  [value]="3">3%</option>
                <option  [value]="5">5%</option>
                <option  [value]="10">10%</option>
                <option  [value]="15">10%</option>
              </select>
            </td>
            <td>
              <input (change)="addIncreaseValueForProvision(prv, $event)"
                type="number" step="0.1" class="form-control custom-input  form-control-sm"/>
            </td>
            <td>{{  prv.salesPrice }}</td>
          </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </ng-container>
</mat-card>


  <div class="row d-flex justify-content-around px-lg-3">
    <mat-card class="bg-white p-2 px-lg-3 mb-2 rounded-2 mat-elevation-z2 col-12">
      <p class="primary-blue-color fs-6 d-flex">
        <mat-icon class="me-2">local_shipping</mat-icon> Dépotage
      </p>
      <div class="row">
        <!-- Formulaire -->
        <div class="col-lg-12 col-md-12 col-12 d-none">
          <form [formGroup]="unloadForm">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Depotages</mat-label>
              <mat-select formControlName="unload" multiple>
                <mat-option *ngFor="let unloadingType of unloadingTypes | async" [value]="unloadingType.id">
                  {{ unloadingType.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>

        <!-- Tableau -->
        <div class="col-lg-12 col-md-12 col-12">
          <table mat-table [dataSource]="selectedUnloadingTypes.getValue()" class="mat-elevation-z1 w-100">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef >Désignation</th>
              <td mat-cell *matCellDef="let element" >{{ element.name }}</td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef >Prix</th>
              <td mat-cell *matCellDef="let element" >{{ element.initPrice  }}</td>
            </ng-container>

            <!-- Unit Column -->
            <ng-container matColumnDef="unite">
              <th mat-header-cell *matHeaderCellDef >Unité</th>
              <td mat-cell *matCellDef="let element" >{{ element.unitOfMeasurement }}</td>
            </ng-container>

            <!-- Remise Column -->
            <ng-container matColumnDef="remise">
              <th mat-header-cell *matHeaderCellDef >Remise</th>
              <td mat-cell *matCellDef="let element" >
                <select class="form-select custom-input form-select-sm" aria-label="Remise"
                        (change)="selectDiscountTypeForUnloading(element, $event)">
                  <option selected [value]="DiscountTypeEnum.NOTAPPLICABLE">N/a</option>
                  <option [value]="DiscountTypeEnum.RATE">%</option>
                  <option  [value]="DiscountTypeEnum.VALUE">Valeur en DH</option>
                </select>
              </td>
            </ng-container>
            <!-- Remise value Column -->
            <ng-container matColumnDef="remiseValue">
              <th mat-header-cell *matHeaderCellDef >Valeur de remise</th>
              <td mat-cell *matCellDef="let element" >
                <p *ngIf="element.discountType == DiscountTypeEnum.NOTAPPLICABLE || element.discountType == '' || element.discountType == null"
                ></p>
<!--                <input disabled-->
<!--                       *ngIf="element.discountType == DiscountTypeEnum.NOTAPPLICABLE || element.discountType == '' || element.discountType == null"-->
<!--                       class="form-control custom-input form-control-sm" placeholder="0.00" value="0.0" type="text">-->
                <input
                  (change)="addDiscountValueForUnloading(element, $event)"
                  *ngIf="element.discountType !== DiscountTypeEnum.NOTAPPLICABLE && element.discountType === DiscountTypeEnum.VALUE"
                  class="form-control custom-input  form-control-sm" placeholder="0.00" type="number">

                <select
                  (change)="addDiscountRateForUnloading(element, $event)"
                  *ngIf="element.discountType !== DiscountTypeEnum.NOTAPPLICABLE && element.discountType === DiscountTypeEnum.RATE"
                  class="form-select form-select-sm custom-input ">
                  <option  [value]="3">3%</option>
                  <option  [value]="5">5%</option>
                  <option  [value]="10">10%</option>
                  <option  [value]="15">10%</option>
                </select>
              </td>
            </ng-container>
            <!-- final price -->
            <ng-container matColumnDef="finalPrice">
              <th mat-header-cell *matHeaderCellDef >Prix de vente</th>
              <td mat-cell *matCellDef="let element" >
                {{element.salesPrice}}
<!--                <input [value]="element.salesPrice" class="form-control form-control-sm" type="text" placeholder="0.00">-->
              </td>
            </ng-container>
            <ng-container matColumnDef="increaseValue">
              <th mat-header-cell *matHeaderCellDef >Augmentation</th>
              <td mat-cell *matCellDef="let element" >
                <input (change)="addIncreaseValueForUnloadingType(element, $event)"
                  class="form-control form-control-sm custom-input" type="text" >
              </td>
            </ng-container>
            <!-- Actions Column -->
            <ng-container matColumnDef="actions" stickyEnd>
              <th mat-header-cell *matHeaderCellDef ></th>
              <td mat-cell *matCellDef="let row" >
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>edit</mat-icon>Edit
                  </button>
                  <button mat-menu-item>
                    <mat-icon>delete</mat-icon>Delete
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <!-- Header Row -->
            <tr mat-header-row *matHeaderRowDef="unloadingDisplayedColumns" class="primary-blue-color fixed-header bg-light rounded-3 custom-header-row p-0"></tr>

            <!-- Data Row -->
            <tr mat-row *matRowDef="let row; columns: unloadingDisplayedColumns;" class="bg-white text-secondary"></tr>
          </table>
        </div>
      </div>
    </mat-card>

    <mat-card class="bg-white p-2 px-lg-3 mb-2 rounded-2 mat-elevation-z2 col-12">
      <p class="primary-blue-color fs-6 d-flex">
        <mat-icon class="me-2">rule</mat-icon> Exigences
      </p>
      <div class="row">
        <!-- Formulaire -->
        <div class="col-md-12 col-12 d-none">
          <form [formGroup]="requirementForm">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Exigences</mat-label>
              <mat-select formControlName="requirement" multiple>
                <mat-option *ngFor="let requirement of requirements | async" [value]="requirement.id">
                  {{ requirement.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>

        <!-- Tableau -->
        <div class="col-lg-12 col-md-12 col-12">
          <table mat-table [dataSource]="selectedRequirements.getValue()" class="mat-elevation-z1 w-100">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef >Désignation</th>
              <td mat-cell *matCellDef="let element" >{{ element.name }}</td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef >Prix</th>
              <td mat-cell *matCellDef="let element" >{{ element.initPrice  }}</td>
            </ng-container>

            <!-- Unit Column -->
            <ng-container matColumnDef="unite">
              <th mat-header-cell *matHeaderCellDef >Unité</th>
              <td mat-cell *matCellDef="let element" >{{ element.unitOfMeasurement }}</td>
            </ng-container>

            <!-- Remise Column -->
            <ng-container matColumnDef="remise">
              <th mat-header-cell *matHeaderCellDef >Remise</th>
              <td mat-cell *matCellDef="let element" >
                <select class="form-select custom-input form-select-sm" aria-label="Remise"
                 (change)="selectDiscountTypeForRequirement(element, $event)">
                    <option selected [value]="DiscountTypeEnum.NOTAPPLICABLE">N/a</option>
                    <option [value]="DiscountTypeEnum.RATE">%</option>
                    <option  [value]="DiscountTypeEnum.VALUE">Valeur en DH</option>
                  </select>
<!--              </td>-->
            </ng-container>
            <!-- Remise value Column -->
            <ng-container matColumnDef="remiseValue">
              <th mat-header-cell *matHeaderCellDef >Valeur de remise</th>
              <td mat-cell *matCellDef="let element" >
                <p *ngIf="element.discountType == DiscountTypeEnum.NOTAPPLICABLE || element.discountType == '' || element.discountType == null">
                </p>
<!--                <input disabled-->
<!--                       *ngIf="element.discountType == DiscountTypeEnum.NOTAPPLICABLE || element.discountType == '' || element.discountType == null"-->
<!--                       class="form-control custom-input form-control-sm" placeholder="0.00" value="0.0" type="text">-->
                <input
                  (change)="addDiscountValueForRequirement(element, $event)"
                  *ngIf="element.discount !== DiscountTypeEnum.NOTAPPLICABLE && element.discountType === DiscountTypeEnum.VALUE"
                  class="form-control custom-input  form-control-sm" placeholder="0.00" type="number">

              <select
                (change)="addDiscountRateForRequirement(element, $event)"
                *ngIf="element.discountType !== DiscountTypeEnum.NOTAPPLICABLE && element.discountType === DiscountTypeEnum.RATE"
                class="form-select form-select-sm custom-input ">
                <option  [value]="3">3%</option>
                <option  [value]="5">5%</option>
                <option  [value]="10">10%</option>
                <option  [value]="15">10%</option>
              </select>
              </td>
            </ng-container>

            <ng-container matColumnDef="increaseValue">
              <th mat-header-cell *matHeaderCellDef >Augmentation </th>
              <td mat-cell *matCellDef="let element" >
                <input (change)="addIncreaseValueForRequirement(element, $event)"
                  class="form-control custom-input form-control-sm" type="text" >
              </td>
            </ng-container>
            <!-- final price -->
            <ng-container matColumnDef="finalPrice">
              <th mat-header-cell *matHeaderCellDef >Prix de vente</th>
              <td mat-cell *matCellDef="let element" >
                {{element.salesPrice}}
<!--                <input [value]="element.salesPrice" class="form-control custom-input  form-control-sm" type="text" placeholder="0.00">-->
              </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef ></th>
              <td mat-cell *matCellDef="let row" >
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>edit</mat-icon>Edit
                  </button>
                  <button mat-menu-item>
                    <mat-icon>delete</mat-icon>Delete
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <!-- Header Row -->
            <tr mat-header-row *matHeaderRowDef="requirementsColumns" class="primary-blue-color fixed-header bg-light rounded-3 custom-header-row p-0"></tr>

            <!-- Data Row -->
            <tr mat-row *matRowDef="let row; columns: requirementsColumns;" class="bg-white text-secondary"></tr>
          </table>
        </div>
      </div>
    </mat-card>
  </div>
</div>







