.metric-card {
  /* Add card specific styles here */
}

.metric-icon {
  font-size: 2rem; /* Example size adjustment */
}

.primary-blue-color {
  color: #007bff; /* Example color */
}
.example-form-field {
  margin: 0 0px 0px 0;
}
