<div class="container-fluid bg-white vh-100 w-100 rounded-4 mat-elevation-z2 overflow-y-scroll">
  <div>
    <button mat-button>
      <mat-icon class="primary-blue-color">bar_chart</mat-icon>
      {{ 'DASHBOARD' | translate }}
    </button>
  </div>

  <!-- 📊 Summary Cards -->
  <div class="container-fluid mt-2">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
      <div class="col">
        <mat-card class="py-1 bg-white">
          <div class="row p-2">
            <div class="col-12 d-flex align-items-center">
              <mat-icon class="text-secondary">domain</mat-icon>
              <span class="mx-2 text-secondary">{{ 'PROSPECTS' | translate }}</span>
            </div>
            <div class="display-6 mt-3 col-12 text-center primary-blue-color">{{ counts.getValue()?.countOfProspects || 0 }}</div>
          </div>
        </mat-card>
      </div>

      <div class="col">
        <mat-card class="py-1 bg-white">
          <div class="row p-2">
            <div class="col-12 d-flex align-items-center">
              <mat-icon class="text-secondary">contacts</mat-icon>
              <span class="mx-2 text-secondary">{{ 'CONTACTS' | translate }}</span>
            </div>
            <div class="display-6 mt-3 col-12 text-center primary-blue-color">{{ counts.getValue()?.countOfInterlocutors || 0 }}</div>
          </div>
        </mat-card>
      </div>

      <div class="col">
        <mat-card class="py-1 bg-white">
          <div class="row p-2">
            <div class="col-12 d-flex align-items-center">
              <mat-icon class="text-secondary">forum</mat-icon>
              <span class="mx-2 text-secondary">{{'INTERACTIONS' | translate}}</span>
            </div>
            <div class="display-6 mt-3 col-12 text-center primary-blue-color">{{ counts.getValue()?.countOfInteractions || 0 }}</div>
          </div>
        </mat-card>
      </div>

      <div class="col">
        <mat-card class="py-1 bg-white">
          <div class="row p-2">
            <div class="col-12 d-flex align-items-center">
              <mat-icon class="text-secondary">info</mat-icon>
              <span class="mx-2 text-secondary">{{'MY_INFO' | translate}}</span>
            </div>
            <div class="display-6 mt-3 col-12 text-center primary-blue-color">{{ counts.getValue()?.countOfInteractions || 0 }}</div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <!-- 📈 Graphs -->
  <div class="container-fluid p-3 row d-flex justify-content-around">
    <div class="col-md-4 mat-elevation-z1 p-3 rounded-2">
      <p class="text-secondary"><mat-icon>bar_chart</mat-icon> {{ 'CHART.BY_STATUS' | translate }}</p>
      <canvas baseChart
              [datasets]="customerPerStatusData"
              [labels]="customerPerStatusChartLabels"
              [options]="chartOptions"
              [type]="'bar'"
              class="col-12"
              [legend]="true">
      </canvas>
    </div>


    <div class="col-md-4 mat-elevation-z1 p-3 rounded-2">
      <p class="text-secondary"><mat-icon>bar_chart</mat-icon> {{'CHART.' + 'BY_SELLER' | translate}}</p>
      <canvas baseChart
              [datasets]="customerPerSellerData"
              [labels]="customerPerSellerChartLabels"
              [options]="chartOptions"
              [type]="'bar'"
              class="col-12"
              [legend]="true">
      </canvas>
    </div>


    <div class="col-md-4 mat-elevation-z1 p-3 rounded-2">
      <p class="text-secondary"><mat-icon>bar_chart</mat-icon> {{ 'CHART.BY_CITY' | translate }}</p>
      <canvas baseChart
              [datasets]="customerPerCityData"
              [labels]="customerPerCityChartLabels"
              [options]="chartOptions"
              [type]="'bar'"
              class="col-12"
              [legend]="true">
      </canvas>
    </div>


    <div class="col-md-4 mat-elevation-z1 p-3 rounded-2">
      <p class="text-secondary"><mat-icon>bar_chart</mat-icon> {{ 'CHART.BY_INDUSTRY' | translate }}</p>
      <canvas baseChart
              [datasets]="customerPerIndustryData"
              [labels]="customerPerIndustryChartLabels"
              [options]="chartOptions"
              [type]="'polarArea'"
              class="col-12"
              [legend]="true">
      </canvas>
    </div>


    <div class="col-md-4 mat-elevation-z1 p-3 rounded-2">
      <p class="text-secondary"><mat-icon>bar_chart</mat-icon> {{ 'CHART.BY_STRUCTURE' | translate }}</p>
      <canvas baseChart
              [datasets]="customerPerStructureData"
              [labels]="customerPerStructureChartLabels"
              [options]="chartOptions"
              [type]="'polarArea'"
              class="col-12"
              [legend]="true">
      </canvas>
    </div>

    <div class="col-md-4 mat-elevation-z1 p-3 rounded-2">
      <p class="text-secondary"><mat-icon>bar_chart</mat-icon>{{ 'CHART.BY_STRUCTURE' | translate }}</p>
      <canvas baseChart
              [datasets]="customerPerDateData"
              [labels]="customerPerDateChartLabels"
              [options]="chartOptions"
              [type]="'line'"
              class="col-12"
              [legend]="true">
      </canvas>
    </div>

  </div>
</div>
