<div class="container-fluid bg-white vh-100 w-100 rounded-4  shadow-sm ">
  <div class="row d-flex justify-content-start px-2">
    <div class="d-flex justify-content-start align-items-center">
      <button mat-button class="text-secondary" (click)="router.navigate(['/admin'])"  >
        <mat-icon >house</mat-icon>
        {{ "HOME" | translate }}
      </button>
      >
      <button mat-button (click)="router.navigate(['/admin/interlocutors'])">
        <mat-icon class=" primary-blue-color">contacts</mat-icon>
        {{ "INTERLOCUTORS" | translate }}
      </button>
    </div>
    <!--  Filters on actions -->
    <section class="  row">
      <div class="col-lg-8 p-1 col-12 d-flex justify-content-start">
        <input
          #input
          (keyup)="applyFilter($event)"
          autofocus
          class=" rounded-2 mat-elevation-z1  bg-light search-input"
          matInput
          placeholder="Recherch"
        />

      </div>
      <!-- Action Buttons -->
      <div class="col-lg-4 my-auto col-12 d-flex justify-content-lg-end  justify-content-end align-items-center">
        <button (click)="openAddInterlocutor()"
                class="rounded-3 bg-spider" color="primary" mat-button style="transform:scale(0.9)">
          <mat-icon>add</mat-icon>
          <span>{{ "ADD" | translate }}</span>
        </button>

        <div class="dropdown dropstart">
          <button mat-icon-button class="mat-dark bg-light rounded-3 mx-1 scale-09"
                  (click)="toggleDropdownOfVisibleColumns()">
            <mat-icon>visibility</mat-icon>
          </button>
          <div class="dropdown-menu" *ngIf="dropdownOpen"  (mouseleave)="toggleDropdownOfVisibleColumns()">
            <div  *ngFor="let col of allTableColumns.getValue()" class="small">
              <input
                type="checkbox"
                [checked]="isColumnsChecked(col)"
                (change)="toggleSelection(col)"
              />
              {{ col.label }}
            </div>
          </div>
        </div>
        <button (click)="toggleFilters()" aria-label="Filter" class="rounded-3 bg-light my-auto" mat-icon-button
                style="transform:scale(0.9)">
          <mat-icon><i class="bi bi-funnel"></i></mat-icon>
        </button>
        <button  mat-icon-button class="mat-dark bg-light rounded-3 mx-1 " color="'primary'"
                 [matMenuTriggerFor]="menu_action" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu_action="matMenu" xPosition="before" class="bg-light">
<!--          <button  (click)="isShowImportZone.next(true)"-->
<!--                   mat-menu-item class="mat-primary">-->
<!--            <mat-icon class="p-0 overflow-visible"><i class="bi bi-filetype-csv primary-blue-color"></i></mat-icon>  Import-->
<!--          </button>-->
          <button (click)="exportExcelFile()" mat-menu-item class="mat-primary">
            <mat-icon><i class="bi bi-cloud-arrow-down primary-blue-color"></i></mat-icon>
            {{ "EXPORT" | translate }}
          </button>
          <button *ngIf="selectedRows.size > 1" (click)="bulkSoftDelete()" class="text-danger" mat-menu-item>
            <mat-icon class="text-danger">delete</mat-icon>
            {{ "BULK_DELETE" | translate }}
          </button>
        </mat-menu>
      </div>
    </section>
    <!--  End Filters on actions -->
  </div>
  <!-- drag-drop-file.component.html -->
  <div *ngIf="isShowImportZone.getValue()"
       class="row  mat-elevation-z2  p-4 rounded-3 mx-auto w-100  bg-light my-3 d-flex justify-content-between">
    <p class="text-end w-100 p-0 m-0 ">
      <!-- Close Button -->
      <button class="btn-sm" mat-icon-button (click)="closeImportZone()">
        <mat-icon>close</mat-icon>
      </button>
    </p>

    <div class="drop-zone bg-white rounded-2 text-center h-75 "
         (dragover)="onDragOver($event)"
         (dragleave)="onDragLeave($event)"
         (drop)="onDrop($event)">
      <div *ngIf="!selectedFile?.name">
        <h1 class="display-1"><i class="bi bi-filetype-csv primary-blue-color"></i></h1>
        <p class="text-secondary">Faites glisser et déposez un fichier ici ou cliquez pour sélectionner</p>
        <input type="file" (change)="onFileSelected($event)" hidden #fileInput />
        <button mat-button (click)="fileInput.click()" class="mx-2 shadow-sm">Sélectionnez le fichier Excel</button><br>
        <button mat-button (click)="downloadFile()" class="mx-2">Télécharge le modèle</button><br>

        <button mat-button [color]="'warn'" (click)="closeImportZone()" class="mx-2">Annuler</button>
      </div>
      <div *ngIf="selectedFile">
        <p class="text-secondary my-3">Fichier sélectionné: <span class="primary-blue-color">{{ selectedFile.name }}</span></p>
        <button mat-stroked-button (click)="uploadFile()">Importer le fichier</button>
      </div>
    </div>
  </div>
  <!-- End import data from File section  -->


  <!-- Start Filters Zone   -->
  <section *ngIf="isFiltersVisible.getValue()" class="container-fluid" >
    <div class="d-flex justify-content-center flex-wrap w-100 my-2 rounded-1 px-2">
      <form [formGroup]="fieldFilterForm" >

        <mat-form-field class="scale-08 col-3">
          <mat-label>{{ "STATUS" | translate }}</mat-label>
          <mat-select  formControlName="status" multiple>
            <mat-option *ngFor="let status of ProspectStatus | keyvalue" [value]="status.key">{{status.value}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="scale-08 col-3" >
          <mat-label>{{ "CLIENTS" | translate }}</mat-label>
          <mat-select  formControlName="customersIds" multiple>
            <mat-option *ngFor="let customer of customers.getValue()" [value]="customer.id">{{customer.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="scale-08 col-3" >
          <mat-label>{{ "DEPARTMENT" | translate }}</mat-label>
          <mat-select  formControlName="departments" multiple>
            <mat-option *ngFor="let department of departements.getValue()" [value]="department.id">{{department.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="scale-08 col-3" >
          <mat-label>{{ "TITRE_DE_POSTE" | translate }}</mat-label>
          <mat-select  formControlName="jobTitlesIds" multiple>
            <mat-option *ngFor="let job of jobTitles.getValue()" [value]="job.id">{{job.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="scale-08 col-3" >
          <mat-label>{{"CREATED_BY"| translate}}</mat-label>
          <mat-select  formControlName="createdByIds" multiple>
            <mat-option *ngFor="let user of users.getValue()" [value]="user.id">{{user.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Date de création (Entre) -->
        <mat-form-field class="example-form-field scale-08 col-3">
          <mat-label>{{ "CREATED_AT" | translate }}</mat-label>
          <mat-date-range-input
            [rangePicker]="createdDatePickerPicker">
            <input matStartDate placeholder="Start date" formControlName="createdAtStart">
            <input matEndDate placeholder="End date" formControlName="createdAtEnd">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="createdDatePickerPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #createdDatePickerPicker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field class="example-form-field scale-08 col-3">
          <mat-label>{{ "UPDATED_AT" | translate }}</mat-label>
          <mat-date-range-input
            [rangePicker]="updateDatePicker">
            <input matStartDate placeholder="Start date" formControlName="updatedAtStart">
            <input matEndDate placeholder="End date" formControlName="updatedAtEnd">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="updateDatePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #updateDatePicker></mat-date-range-picker>
        </mat-form-field>

        <mat-radio-group formControlName="filterType" aria-label="Select an option" class="scale-08 col-4 mx-2">
          <mat-radio-button [color]="'primary'" [value]="'AND'">ET</mat-radio-button>
          <mat-radio-button [color]="'primary'" [value]="'OR'">OU</mat-radio-button>
        </mat-radio-group>

        <button (click)="filterInterlocutorsBySearchFields()" class="rounded-2 bg-spider" color="primary" mat-button >
          <mat-icon><i class="bi bi-funnel"></i></mat-icon>
          <span>Filter</span>
        </button>
        <button (click)="restFilterFrom()" class="rounded-2 bg-success-subtle mx-2 text-success"  mat-button>
          <mat-icon>refresh</mat-icon>
          <span>{{ "RESET"  | translate}}</span>
        </button>

      </form>
    </div>
  </section>
  <!-- End  Filters Zone   -->

  <div class="bg-light rounded-3 mat-elevation-z1 w-100">
    <div class="table-container border-top-5 mt-1 border-secondary w-100">
      <table mat-table [dataSource]="dataSource" matSort class="table-container text-secondary" style="font-size:0.5rem !important;">
        <!-- Select Column -->
        <ng-container matColumnDef="select" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <input type="checkbox" (change)="toggleSelectAll()" [checked]="isAllSelected" color="primary" />
          </th>
          <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
            <input type="checkbox" style="transform: scale(1)" class="bg-light"
                   (change)="toggleRowSelection(row.id)" [checked]="isRowSelected(row.id)" color="primary"/>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name" [sticky]="true" class="w-100">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class=""  >{{ "NAME" | translate }}</th>
          <td mat-cell *matCellDef="let row" style="white-space: nowrap !important;" > {{row.fullName}} </td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "STATUS" | translate }}</th>
          <td mat-cell *matCellDef="let row">
            <button  style="transform:scale(0.8)" [ngClass]="[getChipClass(row.active), 'btn btn-sm p-1 rounded-2 px-3']">
              {{ getAllStatusInteraction(row.active)}}
            </button>
          </td>
        </ng-container>


        <!-- Phone Column -->
        <ng-container matColumnDef="phone"  class="w-100">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class=""  >{{ "PHONE" | translate }}</th>
          <td mat-cell *matCellDef="let row" style="white-space: nowrap !important;" > {{row.phoneNumber?.number}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email"  class="w-100">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class=""  >Email</th>
          <td mat-cell *matCellDef="let row" style="white-space: nowrap !important;" > {{row.emailAddress?.address }} </td>
        </ng-container>

        <!-- Enterprise Column -->
        <ng-container matColumnDef="enterprise"  class="w-100">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class=""  >{{ "COMPANY_NAME" | translate}}</th>
          <td mat-cell *matCellDef="let row" style="white-space: nowrap !important;" > {{row.customer.name }} </td>
        </ng-container>

        <!-- Department Column -->
        <ng-container matColumnDef="department" class="w-100">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class=""  >{{ "DEPARTMENT" | translate }}</th>
          <td mat-cell *matCellDef="let row" style="white-space: nowrap !important;" > {{row.department?.name }} </td>
        </ng-container>

        <!-- Job title Column -->
        <ng-container matColumnDef="job_title" class="w-100">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class=""  >{{ "TITRE_DE_POSTE" | translate }}</th>
          <td mat-cell *matCellDef="let row" style="white-space: nowrap !important;"  > {{ row.jobTitle}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions" stickyEnd >
          <th mat-header-cell *matHeaderCellDef ></th>
          <td mat-cell *matCellDef="let row" style="white-space: nowrap !important;"[width]="50">
            <button mat-icon-button class="mat-dark" color="'primary'" (click)="$event.stopPropagation()"
                    [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before" class="bg-light">
              <button  class="text-secondary" mat-menu-item (click)="openAddInterlocutor(row)"  >
                <mat-icon class="text-secondary" >edit</mat-icon> <span>{{ "UPDATE" | translate }}</span>
              </button>
              <button  mat-menu-item class="text-danger  " (click)="deleteInterlocutor(row)">
                <mat-icon class="text-danger">delete</mat-icon> <span>{{ "DELETE" | translate }}</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getDisplayColumnsTable" class="primary-blue-color fixed-header   bg-light rounded-3  custom-header-row p-0 "></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayColumnsTable;" (click)="showInterlocutorDetails(row)" class="bg-white text-secondary "
            style="font-size:0.8rem !important;"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Aucune donnée ne correspond au filtre "{{input.value}}"</td>
        </tr>
      </table>


    </div>
    <mat-paginator [length]="200" class="p-0 m-0 bg-light  w-100 right-1 position-sticky sticky-bottom  z-0 " [pageSizeOptions]="[25,50, 100]" aria-label="Select page of users"></mat-paginator>

  </div>
</div>

