<div class="container-fluid bg-white vh-75 w-100 rounded-top-4 ">
    <div class="row rounded-1 mx-auto w-100 d-flex justify-content-between align-items-center">
        <!-- Navigation Section -->
        <p class="fs-5 my-auto col-lg-6 col-md-12 d-flex align-items-center">
    <span class="text-secondary">
      <a routerLink="/admin" class="text-decoration-none text-secondary">
        <button mat-button class="text-secondary">
          <mat-icon >home</mat-icon>
          Home
        </button>
      </a>
      <span class="mx-1">></span>
      <button mat-button>
        <mat-icon class="primary-blue-color">price_change</mat-icon>
        Tarifs
      </button>
    </span>
        </p>
        <!-- Toggle Button Section -->
        <div class="col-lg-6 col-12 d-flex justify-content-end">
            <mat-button-toggle-group
                    class="custom-toggle-group  rounded-2"
                    [formControl]="crmType"
                    name="crmType"
                    aria-label="CRM Type"
            >
                <mat-button-toggle class=""  value="WMS">Entreposage</mat-button-toggle>
                <mat-button-toggle class="" value="TMS">Transport</mat-button-toggle>
                <mat-button-toggle  [disabled]="true" value="TMSI">Transport Internationnal</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <!-- Search Bar -->

    </div>
    <mat-divider class="my-1"></mat-divider>
    <router-outlet></router-outlet>
</div>
