<span class="d-flex align-items-center ml-auto ">
  <!-- Input field -->
  <div>
    <input aria-label="Nom de l'entreprise" class="form-control h-100" placeholder="Modifier le nom de l'entreprise"
           type="text"/>
  </div>
<!-- Check and Close icons -->
  <div class="text-end mt-1">
    <button aria-label="Confirmer" class="btn btn-link text-success bg-white rounded-1 mx-1"
            mat-icon-button>
    <mat-icon class="icon-sm">check</mat-icon>
  </button>
  <button aria-label="Annuler" class="btn btn-link text-danger bg-white rounded-1 ml-2" mat-icon-button>
    <mat-icon class="icon-sm">close</mat-icon>
  </button>
  </div>
</span>
