.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.custom-drawer-width {
  width: 300px;
  font-size:0.9rem;
}

.example-sidenav-content {
  flex: 1;
  padding: 16px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: white;
  color: black;
}

mat-list-item:hover button {
  border-left: solid 3px #005cbb;
}

.active-item-nav {
  border-left: solid 3px #005cbb;
}


.active-link {
  background-color: red;
  font-weight: bold;

}

.container-fluid {
  padding: 1rem;
}

.mat-toolbar {
  justify-content: space-between;
}

img.img-fluid {
  height: 40px;
}
