<mat-drawer-container class="example-container vh-100">
  <!-- Left Drawer -->
  <mat-drawer
    #leftDrawer
    class="example-sidenav rounded-0 custom-drawer-width bg-spider"
    mode="side"
    position="start"
    [opened]="true"
  >
    <div class="container-fluid side-nav">
      <mat-toolbar class="rounded-3 mat-elevation-z2">
        <button mat-icon-button (click)="rightDrawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <p class="primary-blue-color m-auto" style="" >Spider <span class="small text-secondary" style="font-size:0.5rem; position:relative;bottom:10px;right: 2px;" >ERP</span></p>
        <button mat-icon-button (click)="leftDrawer.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>

      <!-- Dynamic Left Menu -->
      <mat-list>
        <a *ngFor="let item of menuItems"
           [routerLink]="item.route"  routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}" class="text-decoration-none">
          <mat-list-item class="d-flex justify-content-start align-items-center">
            <button
              mat-button
              [class]="'text-start d-flex justify-content-start text-secondary rounded-1' "
              aria-label="PMS"
              style="width: 100%;"
            >
              {{ item.name }}
              <mat-icon class="text-secondary">{{ item.icon }}</mat-icon>
            </button>
          </mat-list-item>
          <mat-list *ngIf="item.children && item.children.length > 0" class="mx-2">
            <a *ngFor="let child of item?.children"
               [routerLink]="child"  routerLinkActive="active"  class="text-decoration-none">
              <mat-list-item class="d-flex justify-content-start align-items-center">
                <button
                  mat-button
                  [class]="'text-start d-flex justify-content-start text-secondary rounded-1' "
                  aria-label="PMS"
                  style="width: 100%;"
                >
                  {{ child }}
                  <mat-icon>{{ 'settings' }}</mat-icon>
                </button>
              </mat-list-item>

            </a>
          </mat-list>

        </a>
      </mat-list>

    </div>
  </mat-drawer>

  <!-- Right Drawer -->
  <mat-drawer
    #rightDrawer
    class="example-sidenav custom-drawer-width shadow-sm bg-white"
    mode="over"
    position="end"
    [opened]="false"
  >
    <div class="container-fluid side-nav">
      <mat-toolbar >
        <span class="m-auto">Applications</span>
        <button mat-icon-button (click)="rightDrawer.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>


      <!-- Right Menu for Application Selection -->
      <mat-list>
        <a  *ngFor="let app of [{name:'prospection',route:'/admin'},
        {name:'crm',route:'/admin/crm'},{name:'tms',route:'tms'},{name:'admin',route:'/super-admin'},{name:'workspace',route:'/super-admin'}]"
           routerLinkActive="active" [routerLink]="app.route"  class="text-decoration-none">
          <mat-list-item class="d-flex justify-content-start align-items-center">
            <button   (click)="selectApplication(app.name)"
              mat-button
              [class]="'text-start d-flex justify-content-start text-secondary rounded-1' "
              aria-label="PMS"
              style="width: 100%;"
            >
              {{ app.name.toUpperCase() }}
              <mat-icon>{{ menuData[app.name].icon }}</mat-icon>
            </button>
          </mat-list-item>
        </a>
      </mat-list>
    </div>
  </mat-drawer>

  <!-- Main Content -->
  <div class="example-sidenav-content bg-spider p-0 m-0">
    <mat-toolbar class="bg-spider sticky-top">
      <button mat-icon-button (click)="leftDrawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
<!--      <img src="/ma-logo.png" alt="Logo" class="ms-2 p-1 img-fluid">-->
      <p  *ngIf="!leftDrawer.opened" class="primary-blue-color m-auto p-1 mt-3" style="" >Spider <span class="small text-secondary" style="font-size:0.5rem; position:relative;bottom:10px;right: 2px;" >ERP</span></p>
<!--      <mat-form-field appearance="fill" class="w-25 p-2 m-auto">-->
<!--        <mat-select value="one"class=" " >-->
<!--          <mat-option class=" bg-white"  value="one">Ma Logistics</mat-option>-->
<!--          <mat-option class=" bg-white" value="two">3Abc business</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->


      <span class="example-spacer"></span>
      <button mat-button class="mat-dark bg-spider  rounded-3 mx-1 bg-white border border-1 border-secondary-subtle shadow-sm"
              [color]="'primary'"
              [matMenuTriggerFor]="menu_action"
              style="transform:scale(0.9)"
              aria-label="Example icon-button with a menu">
        <mat-icon>domain</mat-icon>
        <span class="d-none d-md-block">{{selectedCompany.getValue()}}</span>
      </button>
      <mat-menu #menu_action="matMenu" xPosition="before" class="bg-spider">
        <ng-container *ngFor="let company of userCompanies | async">
          <button (click)="selectCompany(company)"
            mat-menu-item class="mat-primary">
            <mat-icon>domain</mat-icon>
            {{ company.name }}
          </button>
        </ng-container>
      </mat-menu>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <a routerLink="/login">
        <button mat-icon-button>
          <mat-icon>logout</mat-icon>
        </button>
      </a>


      <button mat-icon-button (click)="rightDrawer.toggle()">
        <mat-icon>apps</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content-container container-fluid ">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
