<div class="shadow-sm bg-light d-flex justify-content-between pt-2" mat-dialog-title>
    <div class="text-start col-10 fs-6">
        <button color="primary" mat-icon-button>
            <mat-icon>domain</mat-icon>
        </button>
        <span >Créer</span>
        <span >Mettre à jour</span> le Tarif
    </div>
    <!-- Reset Button -->
    <div class="col-2 text-end">
        <button class="mx-2" color="primary" mat-icon-button >
            <mat-icon>refresh</mat-icon>
        </button>
        <!-- Close Button -->
        <button class="" color="warn" mat-dialog-close mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<mat-dialog-content class="container-fluid w-100">
    <!-- Name -->
    <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nom de tarif</mat-label>
            <input formControlName="fullName" matInput placeholder="John Doe" required>
            <mat-error>
                Le nom de tarif est obligatoire.
            </mat-error>
        </mat-form-field>
    </div>

    <!-- Tarifs -->
    <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tarifs </mat-label>
            <mat-select formControlName="prospectId" required>
                <mat-option >

                </mat-option>
            </mat-select>
            <mat-error >
                Le tarif est obligatoire.
            </mat-error>
        </mat-form-field>
    </div>

    <!-- Unite -->
    <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Unit</mat-label>
            <input formControlName="fullName" matInput placeholder="John Doe" required>
            <mat-error >
                Le unit est obligatoire.
            </mat-error>
        </mat-form-field>
    </div>

    <!-- init price -->
    <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Inite price</mat-label>
            <input formControlName="fullName" matInput placeholder="John Doe" required>
            <mat-error >
                Le init price est obligatoire.
            </mat-error>
        </mat-form-field>
    </div>

</mat-dialog-content>


<mat-dialog-actions align="end" class="shadow">
    <!-- Cancel Button -->
    <button [color]="'warn'" class="btn py-1" mat-button mat-dialog-close>
        Annuler
    </button>

    <!-- Submit Button -->
    <button

            class="btn mat-primary"
            mat-raised-button>
        <span >Créer</span>
        <span >Mettre à jour</span>
        l'interlocuteur
    </button>
</mat-dialog-actions>