<mat-drawer-container class="example-container vh-100">
  <!-- Left Drawer -->
  <mat-drawer
    #leftDrawer
    class="example-sidenav custom-drawer-width bg-light"
    mode="side"
    position="start"
    [opened]="true"
  >
    <div class="container-fluid side-nav">
      <mat-toolbar>
        <button mat-icon-button (click)="rightDrawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <img src="/ma-logo.png" alt="Logo" class="ms-2 img-fluid">
        <button mat-icon-button (click)="leftDrawer.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>

      <mat-divider></mat-divider>

      <!-- Dynamic Left Menu -->
      <mat-list>
        <a *ngFor="let item of menuItems"
           [routerLink]="item.route"  routerLinkActive="active"  class="text-decoration-none">
          <mat-list-item class="d-flex justify-content-start align-items-center">
            <button
              mat-button
              [class]="'text-start d-flex justify-content-start text-secondary rounded-1' "
              aria-label="PMS"
              style="width: 100%;"
            >
              {{ item.name }}
              <mat-icon>{{ item.icon }}</mat-icon>
            </button>
          </mat-list-item>
        </a>
      </mat-list>
    </div>
  </mat-drawer>

  <!-- Right Drawer -->
  <mat-drawer
    #rightDrawer
    class="example-sidenav custom-drawer-width shadow-sm bg-white"
    mode="over"
    position="end"
    [opened]="false"
  >
    <div class="container-fluid side-nav">
      <mat-toolbar >
        <span class="m-auto">Applications</span>
        <button mat-icon-button (click)="rightDrawer.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>


      <!-- Right Menu for Application Selection -->
      <mat-list>
        <a  *ngFor="let app of [{name:'prospection',route:'/admin'},{name:'crm',route:'/admin/crm'},{name:'tms',route:'tms'}]"
           routerLinkActive="active" [routerLink]="app.route"  class="text-decoration-none">
          <mat-list-item class="d-flex justify-content-start align-items-center">
            <button   (click)="selectApplication(app.name)"
              mat-button
              [class]="'text-start d-flex justify-content-start text-secondary rounded-1' "
              aria-label="PMS"
              style="width: 100%;"
            >
              {{ app.name.toUpperCase() }}
              <mat-icon>{{ menuData[app.name].icon }}</mat-icon>
            </button>
          </mat-list-item>
        </a>
      </mat-list>
    </div>
  </mat-drawer>

  <!-- Main Content -->
  <div class="example-sidenav-content bg-light p-0 m-0">
    <mat-toolbar class="bg-light sticky-top">
      <button mat-icon-button (click)="leftDrawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img *ngIf="!leftDrawer.opened" src="/ma-logo.png"  alt="Logo" class="ms-2 p-1 img-fluid">
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <a routerLink="/login">
        <button mat-icon-button>
          <mat-icon>logout</mat-icon>
        </button>
      </a>
      <button mat-icon-button (click)="rightDrawer.toggle()">
        <mat-icon>apps</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content-container container-fluid vh-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
