<mat-drawer-container class="example-container vh-100">

  <!-- Left Drawer -->
  <mat-drawer #leftDrawer class="example-sidenav rounded-0 custom-drawer-width bg-light" mode="over" position="start" [opened]="false">
    <div class="container-fluid side-nav">
      <mat-toolbar>
        <button mat-icon-button (click)="rightDrawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <p class="mat-primary-color primary-blue-color">Spider <span class="small text-secondary">ERP</span></p>
        <button mat-icon-button (click)="leftDrawer.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
      <mat-divider></mat-divider>

      <!-- Dynamic Left Menu -->
      <mat-list>
        <a *ngFor="let item of menuItems" [routerLink]="item.route" routerLinkActive="active" class="text-decoration-none">
          <mat-list-item class="d-flex justify-content-start align-items-center">
            <button mat-button class="text-start d-flex justify-content-start text-secondary rounded-1 w-100">
              {{ item.name }}
              <mat-icon>{{ item.icon }}</mat-icon>
            </button>
          </mat-list-item>
        </a>
      </mat-list>
    </div>
  </mat-drawer>

  <!-- Top Toolbar -->
  <mat-toolbar color="primary" class="sticky-top text-white">
    <button class="primary-blue-color-light" mat-icon-button (click)="leftDrawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button class="bg-white text-primary primary-blue-color rounded-3 mx-1">
      🕸️Spider <span class="small text-secondary">ERP</span>
    </button>
    <span class="example-spacer"></span>
    <mat-menu #menu_action="matMenu" xPosition="before" class="bg-light">
      <ng-container *ngFor="let company of userCompanies | async">
        <button (click)="selectCompany(company)" mat-menu-item class="text-primary">
          <mat-icon>domain</mat-icon>
          {{ company.name }}
        </button>
      </ng-container>
    </mat-menu>
    <button mat-icon-button class="primary-blue-color-light">
      <mat-icon>account_circle</mat-icon>
    </button>
    <a routerLink="/login">
      <button mat-icon-button class="primary-blue-color-light">
        <mat-icon>logout</mat-icon>
      </button>
    </a>
    <button mat-icon-button class="primary-blue-color-light" (click)="rightDrawer.toggle()">
      <mat-icon>apps</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Hero Section -->
  <div class="container-fluid bg-primary text-white text-center py-5 hero-section">
    <img class="fade-in" src="/spider-web-blue.svg" width="200" alt="Spider Web" style="z-index:1; position:relative;">
    <h1 class="display-4 text-white fade-in" style="z-index:100; position:relative;">Spider ERP</h1>
    <p class="lead">L'Innovation Rencontre la Logistique</p>
    <a href="/login">
      <button mat-raised-button color="primary" class="btn-lg primary-blue-color bg-white pulse">Commancer</button>
    </a>
  </div>


  <!-- About Spider ERP Section -->
  <div class="container my-5">
    <h3 class="text-center primary-blue-color mat-primary-color">À Propos de Spider ERP</h3>
    <p class="text-center lead">
      Inspiré par l'**araignée cobalt bleu**, Spider ERP symbolise l'interconnexion et l'efficacité. Notre ERP vous aide à tisser un réseau parfait entre vos opérations logistiques, de transport, et de gestion d'entrepôt.
    </p>
    <div class="row mt-4 mat-elevation-z4 rounded-2 d-flex justify-content-around">
      <div class="col-md-6 p-3">
        <h5 class="primary-blue-color primary-blue-color-light">Caractéristiques Clés</h5>
        <ul class="list-unstyled text-start fs-5 d-flex flex-column justify-content-around h-75">
          <li><i class="bi bi-check-circle primary-blue-color"></i> Gestion Intégrée</li>
          <li><i class="bi bi-check-circle primary-blue-color"></i> Optimisation Logistique</li>
          <li><i class="bi bi-check-circle primary-blue-color"></i> Solutions Scalables</li>
          <li><i class="bi bi-check-circle primary-blue-color"></i> Automatisation des Processus</li>
          <li><i class="bi bi-check-circle primary-blue-color"></i> Sécurité & Protection des Données</li>
          <li><i class="bi bi-check-circle primary-blue-color"></i> Analyse & Reporting en Temps Réel</li>
          <li><i class="bi bi-check-circle primary-blue-color"></i> Gestion Multicanal des Ventes</li>
        </ul>
      </div>
      <div class="col-md-4">
        <img src="/blue-real-spider.jpg" height="500" width="500" class="rounded" alt="Cobalt Blue Spider" />
      </div>
    </div>
  </div>



  <!-- Features Section -->
  <div class="container my-5">
    <h3 class="text-center primary-blue-color mat-primary-color">
      🚀 Découvrez les Avantages Uniques de Spider ERP
    </h3>
    <p class="text-center text-muted lead">
      Une solution puissante et intuitive pour optimiser votre logistique, votre gestion d'entrepôt et bien plus encore.
    </p>

    <div class="row mt-4">
      <div class="col-md-4 mb-4" *ngFor="let feature of features">
        <mat-card class="h-100 bg-spider-light mat-elevation-z3 border-0 rounded-3">
          <div class="text-center py-3">
            <i class="{{ feature.icon }} display-3 text-dark"></i>
          </div>
          <mat-card-title class="text-center primary-blue-color ">
            {{ feature.title }}
          </mat-card-title>
          <mat-card-content>
            <p class="text-muted text-center">{{ feature.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>


  <!-- Testimonials Section -->
<!--  <div class="container-fluid bg-light py-5">-->
<!--    <h2 class="text-center primary-blue-color mat-primary-color">Ce Que Nos Clients Disent</h2>-->
<!--    <div class="row justify-content-center mt-4">-->
<!--      <div class="col-md-4" *ngFor="let testimonial of testimonials">-->
<!--        <mat-card class="border-0 shadow-sm p-3">-->
<!--          <mat-card-content>-->
<!--            <p class="fst-italic">"{{ testimonial.feedback }}"</p>-->
<!--            <p class="primary-blue-color mb-0">{{ testimonial.name }}</p>-->
<!--            <small class="text-muted">{{ testimonial.company }}</small>-->
<!--          </mat-card-content>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="px-4  text-center ">
    <div class="col-lg-8 mx-auto">
      <div class="container text-center my-5">
        <h1 class="primary-blue-color mat-primary-color">Commencez Avec Spider ERP</h1>
        <p class="lead">Transformez dès aujourd'hui vos opérations logistiques, de transport et d'entrepôt.</p>
        <a href="/login">
          <button mat-raised-button color="primary" class="btn-lg bg-primary-blue-color text-white">Commancer</button>
        </a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="/screen01.png" class=" border rounded-3 shadow-lg mb-4" alt="Example image"  height="500px" loading="lazy">
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>



  <!-- Contact Section -->
<!--  <div class="container text-center my-5">-->
<!--    <h2 class="primary-blue-color mat-primary-color">Commencez Avec Spider ERP</h2>-->
<!--    <p class="lead">Transformez dès aujourd'hui vos opérations logistiques, de transport et d'entrepôt.</p>-->
<!--    <button mat-raised-button color="primary" class="btn-lg">Demander une Démo</button>-->
<!--  </div>-->
  <footer class="p-3 bg-spider-light">
    <div class="row">
      <div class="col-12 col-md text-center">
            <p class="">
              <button mat-button class="bg-white mat-elevation-z3  m-auto  text-primary primary-blue-color rounded-3 mx-1">
                🕸️Spider <span class="small text-secondary">ERP</span>
              </button>
            </p>
<!--        <img class="mb-2" src="../assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">-->
        <small class="d-block mb-3 text-body-secondary">
          Cteated with ❤️ By <br>
          <span class="primary-blue-color">
          &copy;3ABC business center</span>
          <br>2024–2025</small>
      </div>
      <div class="col-6 col-md">
        <h6 class="primary-blue-color fw-light">Fonctionnalités</h6>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Fonctionnalité intéressante</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Fonctionnalité aléatoire</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Fonctionnalité d’équipe</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Ressources pour développeurs</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Une autre</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Dernière mise à jour</a></li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h6 class="primary-blue-color fw-light">Ressources</h6>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Ressource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Nom de la ressource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Autre ressource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Ressource finale</a></li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h6 class="primary-blue-color fw-light">À Propos</h6>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Équipe</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Emplacements</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Confidentialité</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Conditions</a></li>
        </ul>
      </div>

    </div>
  </footer>
</mat-drawer-container>



