.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.custom-drawer-width {
  width: 25vw;
  font-size:0.8rem;
}

.example-sidenav-content {
  flex: 1;
  padding: 16px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: white;
  color: black;
}

mat-list-item:hover button {
  border-left: solid 3px #005cbb;
}

.active-item-nav {
  border-left: solid 3px #005cbb;
}


.active {
  background-color: #e0f7fa;
  font-weight: bold;

}

.container-fluid {
  padding: 1rem;
}

.mat-toolbar {
  justify-content: space-between;
}

img.img-fluid {
  height: 40px;
}



/* Dark Overlay for Better Text Visibility */
/*.hero-section .overlay {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: rgba(0, 0, 0, 0.6); !* Dark overlay *!*/
/*}*/

/* Fade-In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);

  }
}
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

/* Pulse Animation for Button */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
.pulse {
  animation: pulse 2s infinite;
}

.hero-section{
  background-size: contain;
  background: url('https://cdn.creazilla.com/silhouettes/7937048/spider-web-silhouette-4bb7ee-original.svg') no-repeat fixed center center;
}
.background-wrapper {
  background-image: url('/login_background.svg');
  background-size: contain ;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
}

.background-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* white overlay with 50% opacity */
  z-index: 1;
}

.background-wrapper > * {
  position: relative;
  z-index: 2; /* bring actual content above the overlay */
}
