<div class="full-height-size px-lg-2 mb-2 h-100 ">

  <div class="d-flex justify-content-between my-2 align-items-center row rounded-3 ">
    <p class="fs-4 text-start mx-2 primary-blue-color m-auto col-lg-6 col-12">Ajouter un besoin</p>
    <div class="col-lg-3 col-12 mx-2 my-auto d-flex justify-content-lg-end  justify-content-center align-items-center">
      <button
        mat-button  class="rounded-3 bg-primary-blue-color text-white  mat-elevation-z1 "  style="transform:scale(0.9)">
        <mat-icon>save</mat-icon>
        <span>Sauvegarder</span>
      </button>
      <button mat-icon-button class="rounded-3 bg-white my-auto mat-elevation-z2  "   style="transform:scale(0.9)" aria-label="Filter">
        <mat-icon><i class="bi bi-funnel"></i></mat-icon>
      </button>
      <button mat-icon-button class="rounded-3  my-auto mat-elevation-z2 bg-light "   style="transform:scale(0.9)" aria-label="Filter">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>



  <form [formGroup]="formGroup" class="rounded-3 pt-3  mat-elevation-z1 bg-light mx-1 row  ">
    <div class="col-lg-4 ">
      <!-- Date de réception -->
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Date de réception</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateReception" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- Entreprise -->
    <div class="col-lg-4">
      <div class="d-flex align-items-center mb-3">
        <mat-form-field appearance="outline" class="flex-grow-1">
          <mat-label>Entreprise</mat-label>
          <input matInput formControlName="entreprise" required />
        </mat-form-field>
      </div>
    </div>

    <div class="col-lg-4">
      <!-- Interlocuteurs -->
      <div class="d-flex align-items-center mb-3">
        <mat-form-field appearance="outline" class="flex-grow-1">
          <mat-label>Interlocuteurs</mat-label>
          <input matInput formControlName="interlocuteurs" required />
        </mat-form-field>
      </div>
    </div>

    <div class="col-lg-4">
      <!-- Type de produits -->
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Type de produits</mat-label>
        <input matInput formControlName="typeProduits" required />
      </mat-form-field>
    </div>

    <div class="col-lg-4">
      <!-- Durée de stockage -->
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Durée de stockage (Mois)</mat-label>
        <input matInput type="number" formControlName="dureeStockage" required />
      </mat-form-field>
    </div>


    <div class="col-lg-4">
      <!-- Nombre de SKU -->
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Nombre de SKU</mat-label>
        <input matInput type="number" formControlName="nombreSku" required />
      </mat-form-field>
    </div>

    <div class="col-lg-4">
      <!-- Raison de stockage -->
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Raison de stockage</mat-label>
        <mat-select formControlName="raisonStockage" required>
          <mat-option value="Débord">Débord</mat-option>
          <mat-option value="Maintenance">Maintenance</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-4">
      <!-- Livre -->
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Livre</mat-label>
        <mat-select formControlName="livre" required>
          <mat-option value="Fermé">Fermé</mat-option>
          <mat-option value="Ouvert">Ouvert</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-lg-4">
      <!-- Taux de commandes par jour -->
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Taux de commandes par jour</mat-label>
        <input matInput type="number" formControlName="tauxCommandes" required />
      </mat-form-field>
    </div>
  </form>


<div class="w-100 mt-3 h6">

<!--  <mat-accordion [class]="'m-0 p-0 bg-light'">-->
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(true)" class="bg-light  rounded-2 mat-elevation-z2">
      <mat-expansion-panel-header>
        <mat-panel-title> This is the expansion title </mat-panel-title>
        <mat-panel-description> This is a summary of the content </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel >
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="bg-light my-3 rounded-2 mat-elevation-z2">
      <mat-expansion-panel-header>
        <mat-panel-title> Self aware panel </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState() ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="bg-light rounded-2 mat-elevation-z2">
      <mat-expansion-panel-header>
        <mat-panel-title> Self aware panel </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState() ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
<!--  </mat-accordion>-->

</div>
</div>

