<div class="full-height-size mb-5 p-lg-3 rounded-3 bg-light bg-opacity-50    mb-2 ">

  <!-- Header Section -->
  <div class="d-flex justify-content-between my-2 align-items-baseline row rounded-3">
    <p class="fs-5 text-start mx-2 primary-blue-color m-auto col-lg-6  col-12">
      <button class="fs-6" mat-button disabled> <mat-icon class= "me-2 text-dark">add_circle</mat-icon> Ajouter un besoin</button>
    </p>

    <div class="col-lg-5 col-12 mx-2 my-auto d-flex justify-content-lg-end justify-content-end align-items-center">
      <button mat-button class="rounded-3 bg-primary-blue-color text-white mat-elevation-z1" style="transform:scale(0.9)">
        <mat-icon>save</mat-icon>
        <span>Sauvegarder</span>
      </button>
      <button mat-icon-button class="rounded-3 bg-white my-auto mat-elevation-z2" style="transform:scale(0.9)" aria-label="Filter">
        <mat-icon><i class="bi bi-funnel"></i></mat-icon>
      </button>
      <button mat-icon-button class="rounded-3 my-auto mat-elevation-z2 bg-white" style="transform:scale(0.9)" aria-label="More options">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>


  <section class="">
    <!-- Form Section -->
    <form [formGroup]="generalInfoFormGroup" class="rounded-2 pt-3 mat-elevation-z2 bg-white mx-1 row ">
      <p class="col-12 text-uppercase text-muted fw-bold">
        <mat-icon class="me-2">person</mat-icon> Information du Client
      </p>

      <!-- Date de réception -->
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Date de réception</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateReception" required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Entreprise -->
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Entreprise</mat-label>
          <input matInput formControlName="entreprise" required />
        </mat-form-field>
      </div>

      <!-- Interlocuteurs -->
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Interlocuteurs</mat-label>
          <input matInput formControlName="interlocuteurs" required />
        </mat-form-field>
      </div>

      <!-- Type de produits -->
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Type de produits</mat-label>
          <input matInput formControlName="typeProduits" required />
        </mat-form-field>
      </div>

      <!-- Durée de stockage -->
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Durée de stockage (Mois)</mat-label>
          <input matInput type="number" formControlName="dureeStockage" required />
        </mat-form-field>
      </div>

      <!-- Nombre de SKU -->
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Nombre de SKU</mat-label>
          <input matInput type="number" formControlName="nombreSku" required />
        </mat-form-field>
      </div>

      <!-- Raison de stockage -->
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Raison de stockage</mat-label>
          <mat-select formControlName="raisonStockage" required>
            <mat-option value="Débord">Débord</mat-option>
            <mat-option value="Maintenance">Maintenance</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Livre -->
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Livre</mat-label>
          <mat-select formControlName="livre" required>
            <mat-option value="Fermé">Fermé</mat-option>
            <mat-option value="Ouvert">Ouvert</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Taux de commandes par jour -->
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Taux de commandes par jour</mat-label>
          <input matInput type="number" formControlName="tauxCommandes" required />
        </mat-form-field>
      </div>
    </form>
<!--    <mat-accordion class="example-headers-align" multiple>-->
      <!-- Expansion Panels -->
      <div class="w-100 mt-3 mb-5 fs-5 small ">
        <!-- Élément à stocker -->
        <mat-expansion-panel class="bg-white mb-2 rounded-2 mat-elevation-z2">
          <mat-expansion-panel-header>
            <mat-panel-title class="primary-blue-color">
              <mat-icon class="me-2">inventory</mat-icon>  Conditionnemen
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="px-lg-3 px-md-2 mb-3">
            <!-- Nested Form -->
            <form [formGroup]="itemToStoreFormGroup" class="rounded-3 pt-4 pb-2 row">

              <form
                [formGroup]="itemToStoreFormGroup"
                class="rounded-3 pt-4 pb-2  row ">

                <!-- Conditionnement -->
                <div class="col-lg-4 col-md-6 col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Conditionnement *</mat-label>
                    <mat-select formControlName="conditionnement" required>
                      <mat-option value="Palette Euro">Palette Euro</mat-option>
                      <mat-option value="Cartons">Cartons</mat-option>
                      <mat-option value="Autre">Autre</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- Structure -->
                <div class="col-lg-4 col-md-6 col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Structure</mat-label>
                    <mat-select formControlName="structure">
                      <mat-option value="Homogène">Homogène</mat-option>
                      <mat-option value="Hétérogène">Hétérogène</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- Température de stockage -->
                <div class="col-lg-4 col-md-6 col-12">
                  <mat-form-field appearance="outline" class="w-100  ">
                    <mat-label>Température de stockage *</mat-label>
                    <mat-select formControlName="temperatureStockage"  required>
                      <mat-option value="Ambiante">Ambiante</mat-option>
                      <mat-option value="Réfrigéré">Réfrigéré</mat-option>
                      <mat-option value="Congelé">Congelé</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <p class="col-12 text-uppercase text-muted ">
                  <mat-icon class="me-2">straighten</mat-icon> Dimensions
                </p>

                <!-- Largeur -->
                <div class="col-lg-3 col-md-4 col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Largeur (cm)</mat-label>
                    <input matInput type="number" formControlName="largeur" />
                  </mat-form-field>
                </div>

                <!-- Longueur -->
                <div class="col-lg-3 col-md-4 col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Longueur (cm)</mat-label>
                    <input matInput type="number" formControlName="longueur" />
                  </mat-form-field>
                </div>

                <!-- Hauteur -->
                <div class="col-lg-3 col-md-4 col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Hauteur (cm)</mat-label>
                    <input matInput type="number" formControlName="hauteur" />
                  </mat-form-field>
                </div>

                <!-- Hauteur max -->
                <div class="col-lg-3 col-md-4 col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Hauteur max (cm)</mat-label>
                    <input matInput type="number" formControlName="hauteurMax" />
                  </mat-form-field>
                </div>

                <p class="col-12 text-uppercase text-muted ">
                  <mat-icon class="me-2">informations</mat-icon> Informations supplémentaires
                </p>

                <!-- Poids -->
                <div class="col-lg-3 col-md-4 col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Poids (kg)</mat-label>
                    <input matInput type="number" formControlName="poids" />
                  </mat-form-field>
                </div>

                <!-- Metre cube max -->
                <div class="col-lg-3 col-md-4 col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Metre cube max</mat-label>
                    <input matInput type="number" formControlName="metreCubeMax" />
                  </mat-form-field>
                </div>

                <!-- Niveaux de gerbabilité -->
                <div class="col-lg-3 col-md-4 col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Niveaux de gerbabilité *</mat-label>
                    <input matInput type="number" formControlName="niveauxGerbabilite" required />
                  </mat-form-field>
                </div>

                <!-- Volume de stock -->
                <div class="col-lg-3 col-md-4 col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Volume de stock</mat-label>
                    <input matInput type="number" formControlName="volumeStock" />
                  </mat-form-field>
                </div>

                <!-- Nombre de UVC -->
                <div class="col-lg-3 col-md-4 col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nombre de UVC</mat-label>
                    <input matInput type="number" formControlName="nombreUvc" />
                  </mat-form-field>
                </div>

                <!-- Nombre de UVC -->
                <div class="col-lg-9 text-end m-auto col-md-4 col-12">
                  <button mat-button (click)="addItemToItemToStore()"
                          [color]="'primary'"
                          class="text-white bg-primary-blue-color rounded-2"
                  >
                    <mat-icon>add</mat-icon>Ajouter
                  </button>
                </div>
              </form>
            </form>
          </div>

          <div class="table-container">
            <table mat-table [dataSource]="itemsToStore.getValue()" class="table-container mat-elevation-z1 w-100">

              <!-- Conditionnement Column -->
              <ng-container matColumnDef="conditionnement">
                <th mat-header-cell *matHeaderCellDef class="small">Conditionnement</th>
                <td mat-cell *matCellDef="let element" class="small"> {{ element.conditionnement }} </td>
              </ng-container>

              <!-- Structure Column -->
              <ng-container matColumnDef="structure">
                <th mat-header-cell *matHeaderCellDef class="small">Structure</th>
                <td mat-cell *matCellDef="let element" class="small"> {{ element.structure || '-' }} </td>
              </ng-container>

              <!-- Temperature Storage Column -->
              <ng-container matColumnDef="temperatureStockage">
                <th mat-header-cell *matHeaderCellDef class="small small">Température</th>
                <td mat-cell *matCellDef="let element" class="small"> {{ element.temperatureStockage }} </td>
              </ng-container>

              <!-- Largeur Column -->
              <ng-container matColumnDef="largeur">
                <th mat-header-cell *matHeaderCellDef class="small">Largeur (cm)</th>
                <td mat-cell *matCellDef="let element" class="small"> {{ element.largeur || '-' }} </td>
              </ng-container>

              <!-- Hauteur Column -->
              <ng-container matColumnDef="hauteur">
                <th mat-header-cell *matHeaderCellDef class="small">Hauteur (cm)</th>
                <td mat-cell *matCellDef="let element" class="small"> {{ element.hauteur || '-' }} </td>
              </ng-container>

              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="small"></th>
                <td mat-cell *matCellDef="let row" class="small">
                  <button mat-icon-button  aria-label="Actions ">
                    <mat-icon class="text-danger">delete</mat-icon>
                  </button>
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>edit</mat-icon>Edit
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>Delete
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <!-- Header Row -->
              <tr mat-header-row *matHeaderRowDef="itemsToStoredisplayedColumns" class="primary-blue-color fixed-header bg-light rounded-3 custom-header-row p-0"></tr>

              <!-- Data Row -->
              <tr mat-row *matRowDef="let row; columns: itemsToStoredisplayedColumns;" class="bg-white text-secondary"></tr>
            </table>
          </div>
        </mat-expansion-panel>

        <!-- Depotages -->
        <mat-expansion-panel  class="bg-white mb-2 rounded-2 mat-elevation-z2" >
          <mat-expansion-panel-header>
            <mat-panel-title class="primary-blue-color">
              <mat-icon class="me-2">local_shipping</mat-icon> DEPOTAGES
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form>
            <div class="col-lg-8 col-md-12 col-12">
              <form [formGroup]="unloadForm">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Depotages</mat-label>
                  <mat-select formControlName="unload" multiple>
                    <mat-option  *ngFor="let unloadingType of unloadingTypes | async" [value]="unloadingType.id">
                      {{ unloadingType.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>
          </form>
          <div class="col-12">
            <table mat-table [dataSource]="unloadingDataSource.getValue()" class="mat-elevation-z1 w-100">

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="small"> Name </th>
                <td mat-cell *matCellDef="let element" class="small"> {{ element.name }} </td>
              </ng-container>

              <!-- Price Column -->
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef class="small"> Price </th>
                <td mat-cell *matCellDef="let element" class="small"> {{ element.initPrice | currency}} </td>
              </ng-container>

              <!-- Unit Column -->
              <ng-container matColumnDef="unite">
                <th mat-header-cell *matHeaderCellDef class="small"> Unit </th>
                <td mat-cell *matCellDef="let element" class="small"> {{ element.unitOfMeasurement }} </td>
              </ng-container>

              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="small"></th>
                <td mat-cell *matCellDef="let row" class="small">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>edit</mat-icon>Edit
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>Delete
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <!-- Header Row -->
              <tr mat-header-row *matHeaderRowDef="unloadingDisplayedColumns" class="primary-blue-color fixed-header bg-light rounded-3 custom-header-row p-0"></tr>

              <!-- Data Row -->
              <tr mat-row *matRowDef="let row; columns: unloadingDisplayedColumns;" class="bg-white text-secondary"></tr>
            </table>

          </div>
        </mat-expansion-panel>

        <!-- PRESTATIONS -->
        <mat-expansion-panel class="bg-white mb-2 rounded-2 mat-elevation-z2">
          <mat-expansion-panel-header>
            <mat-panel-title class="primary-blue-color">
              <mat-icon class="me-2"><mat-icon>engineering</mat-icon></mat-icon> PRESTATIONS
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="col-lg-8 col-md-12 col-12">
            <form [formGroup]="provisionForm">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Depotages</mat-label>
                <mat-select formControlName="provision" multiple>
                  <mat-option  *ngFor="let provision of provisions | async" [value]="provision.id">
                    {{ provision.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>

          <table mat-table [dataSource]="selectedProvisions.getValue()" class="mat-elevation-z1 w-100">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="small"> Name </th>
              <td mat-cell *matCellDef="let element" class="small"> {{ element.name }} </td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef class="small"> Price </th>
              <td mat-cell *matCellDef="let element" class="small"> {{ element.initPrice | currency}} </td>
            </ng-container>

            <!-- Unit Column -->
            <ng-container matColumnDef="unite">
              <th mat-header-cell *matHeaderCellDef class="small"> Unit </th>
              <td mat-cell *matCellDef="let element" class="small"> {{ element.unitOfMeasurement }} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="small"></th>
              <td mat-cell *matCellDef="let row" class="small">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>edit</mat-icon>Edit
                  </button>
                  <button mat-menu-item>
                    <mat-icon>delete</mat-icon>Delete
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <!-- Header Row -->
            <tr mat-header-row *matHeaderRowDef="provisionsDisplayedColumns" class="primary-blue-color fixed-header bg-light rounded-3 custom-header-row p-0"></tr>

            <!-- Data Row -->
            <tr mat-row *matRowDef="let row; columns: provisionsDisplayedColumns;" class="bg-white text-secondary"></tr>
          </table>
        </mat-expansion-panel>

        <!-- EXIGENCES -->
        <mat-expansion-panel class="bg-white mb-2 rounded-2 mat-elevation-z2">
          <mat-expansion-panel-header>
            <mat-panel-title class="primary-blue-color">
              <mat-icon class="me-2">miscellaneous_services</mat-icon> EXIGENCES
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

        <!-- FRAIS DE GESTION -->
        <mat-expansion-panel class="bg-white mb-2 rounded-2 mat-elevation-z2">
          <mat-expansion-panel-header>
            <mat-panel-title class="primary-blue-color">
              <mat-icon class="me-2">attach_money</mat-icon> FRAIS DE GESTION
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

        <!-- ASSURANCE -->
        <mat-expansion-panel class="bg-white mb-2 rounded-2 mat-elevation-z2">
          <mat-expansion-panel-header>
            <mat-panel-title class="primary-blue-color">
              <mat-icon class="me-2">security</mat-icon> ASSURANCE
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

      </div>
<!--    </mat-accordion>-->
  </section>

</div>
