<div class="container-fluid  bg-white full-height-size w-100 rounded-top-4 shadow-sm">
  <div class="row rounded-1 mx-auto w-100 d-flex justify-content-between align-items-center">
    <!-- Navigation Section -->
    <p class="fs-5 my-auto col-lg-6 col-md-12 d-flex align-items-center">
    <span class="text-secondary">
      <a routerLink="/admin" class="text-decoration-none text-secondary">
        <button mat-button class="text-secondary">
          <mat-icon >home</mat-icon>
          Home
        </button>
      </a>
      <span class="mx-1">></span>
      <button mat-button>
        <mat-icon class="primary-blue-color">checklist</mat-icon>
        Besoins
      </button>
    </span>
    </p>
    <!-- Toggle Button Section -->
    <div class="col-lg-6 col-12 d-flex justify-content-end align-items-center ">



      <div style="transform:scale(0.7); max-height:50px;" class="custom-select-container" >
        <mat-form-field appearance="outline" class="custom-select small fw-bolder" style="font-size: 0.7rem;" >
          <mat-label>Secteur</mat-label>
          <mat-select [formControl]="crmType"  aria-label="CRM Type">
            <mat-option value="WMS" style="font-size: 0.7rem;">
              <mat-icon class="me-1 primary-blue-color">warehouse</mat-icon>
              <span>Entreposage</span>
            </mat-option>
            <mat-option value="TMS" style="font-size: 0.7rem;">
              <mat-icon class="me-1 primary-blue-color">local_shipping</mat-icon>
              <span>Transport</span>
            </mat-option>
            <mat-option value="TMSI" [disabled]="true" style="font-size: 0.7rem;">
              <mat-icon class="me-1 primary-blue-color">public</mat-icon>
              <span>Transport International</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>



    </div>
    <!-- Search Bar -->

  </div>

   <div>
     <router-outlet></router-outlet>
   </div>
</div>
